mixin banner
  .banner
    .banner__img
      img(src=`img/content/vip-card/vip-card-xl-2.jpg` alt="VIP CLUB")
    .container
      section.banner__content
        h1.banner__title.title-content-montserrat VIP CLUB
        img.banner__logo(src='img/content/logo.svg', alt='Logo')
        a.btn.btn--dark.banner__btn.d-none.d-lg-block(href=pages.catalog.href) Перейти в каталог
