mixin basket(compliteOrder=false)
  .basket.page__content
    .container
      if !compliteOrder
        +link-icon({
          icon: 'icon-arrow',
          text: "Назад",
          widthIcon: 14,
          heightIcon: 14,
        })(href=pages.index.href).link-back
        h1.title-content-montserrat.basket__title.d-none.d-lg-block Корзина
        +form(action=pages.basketOrderProcessed.href).basket__grid
          .basket-products.stack.stack--main-gap
            block
          +total-amount.d-none.d-lg-block
          .basket__processing.d-lg-none
            +price({
              text: '48 000',
              svgWidth: 12,
              svgHeight: 12,
              icon: 2
            })
            button.btn.btn--dark.basket__processing-btn Оформить заказ
      else
        block
