mixin catalog({catalogFilter=true, pageSubCatalogCurrentTitle, pageSubCatalogCurrentHref, categoryFilterMdHidden=false})
  .page-catalog.page__content&attributes(attributes)
    .container
      +link-icon({
        icon: 'icon-arrow',
        text: "Назад",
        widthIcon: 14,
        heightIcon: 14,
      })(href=pages.index.href).link-back.page-catalog__link-back
      .page-catalog__grid
        +catalog-menu(pageSubCatalogCurrentHref)
        main.page-catalog__content.stack.stack--main-gap
          h1.catalog-title.d-lg-none= pageSubCatalogCurrentTitle
          block
          if(catalogFilter)
            +category-filter({
              list: listMaterials,
              title: 'Материал',
              classGridItem: 'grid-tpl-2 grid-tpl-lg-6 grid-tpl-xl-3',
              src: `img/content/cat-mat`
            })(class= categoryFilterMdHidden && "d-lg-none d-xl-block").category-filter--material
            +category-filter({
              list: listJeweler,
              title: 'Вставка',
              classGridItem: 'grid-tpl-3 grid-tpl-lg-5 grid-tpl-xl-4',
              src: `img/content/cat-stone`
            })(class= categoryFilterMdHidden && "d-lg-none d-xl-block").category-filter--jeweler
