mixin lk({pageSubCatalogCurrentTitle, pageLkCurrentHref})
  .page-lk.page__content&attributes(attributes)
    .container
      +link-icon({
        icon: 'icon-arrow',
        text: "Назад",
        widthIcon: 14,
        heightIcon: 14,
      })(href=pages.index.href).link-back
      .page-lk__grid
        aside.lk-sidebar.page-lk__sidebar
          +user({
            img: 'img/content/default-photo-profile.svg',
            name: 'Ильназ',
            status: 'Platinum'
          }).lk-sidebar__user
          +lk-menu({
            pageLkCurrentHref: pageLkCurrentHref
          })
        main.page-lk__content
          //-h1.page-lk__titl.d-lg-none= pageSubCatalogCurrentTitle Todo: ХЗХЗХЗХЗ
          block
