mixin main-content({title, standartTpl=true})
  main.main-content.page__content&attributes(attributes)
    if(standartTpl)
      .container
        +link-icon({
          icon: 'icon-arrow',
          text: "Назад",
          widthIcon: 14,
          heightIcon: 14,
        })(href=pages.index.href).link-back
        if(title)
          h1.main-content__title= title
        .stack.stack--main-gap
          block
    else
      block
