.lk-order {
  @media (min-width: $screen-lg) {
    background-color: $white;
    border-radius: 15px;
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.05);

    padding-top: 36px;
    padding-bottom: 36px;
  }

  @media (min-width: $screen-xl) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.lk-order--more {
  @media (min-width: $screen-lg) {
    padding: 60px 45px;
  }

  @media (min-width: $screen-xl) {
    padding: 60px 80px;
  }
}

.lk-order--review {
  .lk-order__item:first-child {
    @media (max-width: $screen-lg - 1) {
      padding-top: 0;
    }
  }

  @media (min-width: $screen-lg) {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  @media (min-width: $screen-xl) {
    padding-top: 30px;
    padding-bottom: 30px;

    .lk-order__item {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

.lk-order--promo-code {
  min-height: 100%;

  .lk-order__item {
    @media (min-width: $screen-xl) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .lk-order__item:first-child {
    @media (max-width: $screen-lg - 1) {
      padding-top: 0;
    }
  }

  @media (min-width: $screen-lg) {
    padding-top: 0;
  }

  @media (min-width: $screen-xl) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.lk-order__title-more {
  display: none;

  @media (min-width: $screen-lg) {
    display: block;
    margin-bottom: 64px;
    text-align: center;
  }
}

.lk-order__list {
  @include ul-reset();
}

.lk-order__item {
  padding: 20px 0px;
  border-bottom: 1px solid $primary-pink-1;

  @media (min-width: $screen-lg) {
    padding: 30px 45px;
  }

  @media (min-width: $screen-xl) {
    padding: 30px 80px;
  }
}

.lk-order__title {
  display: none;
  @media (min-width: $screen-lg) {
    display: block;
    padding: 0 45px;
    margin-bottom: 15px;
  }

  @media (min-width: $screen-xl) {
    padding: 0 80px;
    margin-bottom: 10px;
  }
}

.lk-order__filter {
  .tab-filter__list {
    justify-content: center;
    margin-bottom: 10px;
  }
}
