mixin section-content({title, classTitle, link, textLink="смотреть"})
  section.section-content&attributes(attributes)
    h2(class=classTitle)= title
    .swiper.section-content__slider(data-product-slider="")
      .swiper-wrapper
        - for(let i = 1; i < 9; i++)
          .swiper-slide.section-content__item
            +preview({
              img: `prev-${i}`
            })
      .swiper-button-next.swiper-button-arrow
      .swiper-button-prev.swiper-button-arrow
    if(textLink)
      .section-content__link-wrap.d-none.d-lg-block.d-xl-none
        a.line-link.section-content__link(href=link)= textLink
