.application__info-list {
  @include ul-reset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  @media (min-width: $screen-lg) {
    gap: 23px;
  }

  @media (min-width: $screen-xl) {
    gap: 16px;
  }
}

.application__info-item {
  @include ProximaNovaTextRegular13;
  display: flex;
  align-items: center;
  gap: 10px;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular32;
    gap: 20px;
  }
}

.application__table {
  @include ProximaNovaTextRegular13;
  margin-bottom: 20px;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular32;
    margin-bottom: 64px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 40px;
  }
}

.application__table-row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 10px;
}

.application__table-row--header {
  border-bottom: 1px solid $primary-pink-1;
  padding-bottom: 10px;

  @media (min-width: $screen-lg) {
    padding-bottom: 30px;
  }

  @media (min-width: $screen-xl) {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 40px;
  }
}

.application__table-row--content {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $primary-pink-1;

  @media (min-width: $screen-lg) {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  @media (min-width: $screen-xl) {
    padding-top: 40px;
    padding-bottom: 40px;

    &:first-of-type {
      padding-top: 0px;
    }
  }
}

.application__product {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  @media (min-width: $screen-lg) {
    gap: 40px;
  }
}

.application__product-img {
  width: 50px;
  @media (min-width: $screen-lg) {
    width: 140px;
  }
}

.application__product-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    margin: 0;
  }

  @media (min-width: $screen-lg) {
    gap: 19px;
  }

  @media (min-width: $screen-xl) {
    gap: 16px;
  }
}

.application__table-td {
  p {
    margin: 0;
  }

  &:last-of-type {
    text-align: right;
  }
}

.application__total-count {
  @include ProximaNovaTextRegular13;
  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular32;
  }

  @media (min-width: $screen-xl) {
    @include ProximaNovaTextRegular36;
  }
}

.application__total-price {
  @include ProximaNovaTextRegular16;
  font-weight: 700;

  @media (min-width: $screen-lg) {
    @include MontserratBold34;
  }

  @media (min-width: $screen-xl) {
    @include ProximaNovaTextRegular36;
    font-weight: 700;
  }

  svg {
    width: 11px;
    height: 11px;

    @media (min-width: $screen-lg) {
      width: 22px;
      height: 22px;
    }
  }
}

.application__info-label {
  color: $tp-grey;
}

.application__info-value {
  margin: 0;
}

.application__count {
  @include ProximaNovaTextRegular16;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular32;
  }

  @media (min-width: $screen-xl) {
    @include ProximaNovaTextRegular36;
  }
}

.application__price {
  @include ProximaNovaTextRegular16;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular28;
  }

  svg {
    width: 11px;
    height: 11px;
    @media (min-width: $screen-lg) {
      width: 17px;
      height: 17px;
    }
  }
}

.application__row-text {
  @include ProximaNovaTextBold19;
  display: flex;
  align-items: flex-end;
  gap: 16px;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular40;
  }
}

.application__data {
  @include ProximaNovaTextRegular17;
  color: $tp-grey;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular32;
  }

  @media (min-width: $screen-xl) {
    @include ProximaNovaTextRegular36;
  }
}
