-
  const footerNavMenu = [
    [
      {
        text: pages.pageAbout.text,
        href: pages.pageAbout.href
      },
      {
        text: pages.catalogActions.text,
        href: pages.catalogActions.href
      },
      {
        text: 'Работа у нас',
        href: pages.pageVacancy.href,
      },
      {
        text: pages.pageShop.text,
        href: pages.pageShop.href
      },
      {
        text: pages.pageBonus.text,
        href: pages.pageBonus.href
      }
    ],
    [
      {
        text: pages.pageBuying.text,
        href: pages.pageBuying.href
      },
      {
        text: pages.pageExchange.text,
        href: pages.pageExchange.href
      },
      {
        text: 'Возврат',
        href: pages.pageReturn.href
      },
      {
        text: 'Доставка',
        href: '#'
      },
      {
        text: 'О бриллиантах',
        href: pages.pageDiamond.href
      }
    ],
    [
      {
        text: 'Уход и ремонт',
        href: '#'
      },
      {
        text: 'Карта сайта',
        href: '#'
      },
      {
        text: 'Кредит/рассрочка',
        href: '#'
      },
      {
        text: 'Бонусная карта',
        href: '#'
      },
      {
        text: pages.pagePrivacyPolicy.text,
        href: pages.pagePrivacyPolicy.href
      }
    ]
  ]

mixin page-footer()
  footer.page-footer&attributes(attributes)
    .container
      .page-footer__row
        .page-footer__col-mini
          +logo(pages.index.href).page-footer__logo
            img(src='img/content/logo.svg', alt='Logo')
          a.page-footer__phone(href=numberPhone.href)= numberPhone.text
          +socials.page-footer__socials
        .page-footer__col-grow
          each list in footerNavMenu
            ul.page-footer__nav
              each item in list
                li.page-footer__nav-item
                  a.page-footer__nav-link(href=item.href)= item.text


