// Style plagin
@import "variables";

// My style

@import "grid-mixins";

@import "functions";

@import "fonts";
@import "global";

@import "../blocks/components/grid-tpl/grid-tpl";
@import "../blocks/components/order/order";
@import "../blocks/components/container/container";
@import "../blocks/components/stack/stack";
@import "../blocks/components/gap/gap";
@import "../blocks/components/excellence/excellence";
@import "../blocks/components/title-program-bonus/title-program-bonus";
@import "../blocks/components/navigation-changer/navigation-changer";
@import "../blocks/components/line-link/line-link";
@import "../blocks/components/btn/btn";
@import "../blocks/components/burger/burger";
@import "../blocks/components/accordion/accordion";
@import "../blocks/components/main-title-montserrat/main-title-montserrat";
@import "../blocks/components/display/display";
@import "../blocks/components/page/page";
@import "../blocks/components/form/form";
@import "../blocks/components/logo/logo";
@import "../blocks/components/benefits/benefits";
@import "../blocks/components/socials/socials";
@import "../blocks/components/field-text/field-text";
@import "../blocks/components/field-checkbox/field-checkbox";
@import "../blocks/components/link-icon/link-icon";
@import "../blocks/components/filter-link/filter-link";
@import "../blocks/components/category-list/category-list";
@import "../blocks/components/category-link/category-link";
@import "../blocks/components/category-tile/category-tile";
@import "../blocks/components/catalog-title/catalog-title";
@import "../blocks/components/table-char/table-char";

@import "../blocks/components/navigation/navigation";
@import "../blocks/components/section-content/section-content";

@import "../blocks/project/page-header/page-header";
@import "../blocks/project/page-footer/page-footer";
@import "../blocks/project/main-content/main-content";
@import "../blocks/project/page-catalog/page-catalog";
@import "../blocks/project/page-lk/page-lk";
@import "../blocks/project/promo/promo";
@import "../blocks/project/vacancies/vacancies";
@import "../blocks/project/main-slider/main-slider";
@import "../blocks/project/promo-list/promo-list";
@import "../blocks/project/category-list-prev/category-list-prev";
@import "../blocks/project/wedding-list/wedding-list";
@import "../blocks/project/blog-place/blog-place";
@import "../blocks/project/preview/preview";
@import "../blocks/project/collection/collection";
@import "../blocks/project/wedding-offer/wedding-offer";
@import "../blocks/project/category-card/category-card";
@import "../blocks/project/faq/faq";
@import "../blocks/project/banner/banner";
@import "../blocks/project/status-table/status-table";
@import "../blocks/project/add-benefits/add-benefits";
@import "../blocks/project/mobile-menu/mobile-menu";
@import "../blocks/project/catalog-menu/catalog-menu";
@import "../blocks/project/category-filter/category-filter";
@import "../blocks/project/statistics-brand/statistics-brand";
@import "../blocks/project/about-company/about-company";
@import "../blocks/project/company-banner/company-banner";

@import "../blocks/project/order-page/order-page";

.text-content {
  @include ProximaNovaTextRegular16();

  @media(min-width: $screen-lg) {
    @include ProximaNovaTextRegular32();
  }

  span {
    color: $tp-grey;
  }

  p {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 20px;
      @media(min-width: $screen-lg) {
        margin-bottom: 47px;
      }
    }
  }

  ul {
    @include ul-reset();

    + p {
      margin-bottom: 20px;
      @media(min-width: $screen-lg) {
        margin-bottom: 47px;
      }
    }
  }

  li {
    margin: 0;
  }

  a:not(.link-back) {
    //TODO: Переделать, зависимостей быть не должно
    text-decoration: none;
    color: $other-blue;
  }
}

//TODO: Вынести
.swiper-button-arrow {
  width: 15px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);

  &:after {
    display: none;
  }
}

.swiper-button-arrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='26' viewBox='0 0 14 26' fill='none'%3E%3Cpath d='M1 1L13 13L1 25' stroke='%23F75394' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  right: 0px;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='26' viewBox='0 0 14 26' fill='none'%3E%3Cpath d='M13 25L1 13L13 1' stroke='%23F75394' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  left: 0px;
}

.link-back {
  @include ProximaNovaTextRegular22();
  display: none;
  text-transform: uppercase;
  color: $tp-black;
  margin-bottom: 30px;

  &--mb-none {
    margin-bottom: 0px;
  }

  span {
    color: inherit;
  }

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular22();
    color: $tp-black;
    display: inline-flex;

    span {
      color: inherit;
    }
  }

  @media (min-width: $screen-xl) {
    display: none;
  }
}
