// Style plagin
@import "variables";

// My style

@import "grid-mixins";

@import "functions";

@import "fonts";
@import "global";

@import "../blocks/components/grid-tpl/grid-tpl";
@import "../blocks/components/order/order";
@import "../blocks/components/container/container";
@import "../blocks/components/stack/stack";
@import "../blocks/components/gap/gap";
@import "../blocks/components/alert/alert";
@import "../blocks/components/excellence/excellence";
@import "../blocks/components/title-program-bonus/title-program-bonus";
@import "../blocks/components/navigation-changer/navigation-changer";
@import "../blocks/components/line-link/line-link";
@import "../blocks/components/btn/btn";
@import "../blocks/components/btn-size/btn-size";
@import "../blocks/components/choose-stars/choose-stars";
@import "../blocks/components/tag-filter/tag-filter";
@import "../blocks/components/breadcrumbs/breadcrumbs";
@import "../blocks/components/final-rating/final-rating";
@import "../blocks/components/burger/burger";
@import "../blocks/components/badge/badge";
@import "../blocks/components/pagination/pagination";
@import "../blocks/components/range/range";
@import "../blocks/components/status-product/status-product";
@import "../blocks/components/dropdown/dropdown";
@import "../blocks/components/accordion/accordion";
@import "../blocks/components/main-title-montserrat/main-title-montserrat";
@import "../blocks/components/lk-title/lk-title";
@import "../blocks/components/display/display";
@import "../blocks/components/page/page";
@import "../blocks/components/form/form";
@import "../blocks/components/review-content/review-content";
@import "../blocks/components/rating-product/rating-product";
@import "../blocks/components/logo/logo";
@import "../blocks/components/modal/modal";
@import "../blocks/components/user/user";
@import "../blocks/components/pay/pay";
@import "../blocks/components/complement/complement";
@import "../blocks/components/size-product/size-product";
@import "../blocks/components/price/price";
@import "../blocks/components/specifications/specifications";
@import "../blocks/components/lk-sidebar/lk-sidebar";
@import "../blocks/components/benefits/benefits";
@import "../blocks/components/socials/socials";
@import "../blocks/components/block-radio/block-radio";
@import "../blocks/components/field-text/field-text";
@import "../blocks/components/field-select/field-select";
@import "../blocks/components/field-checkbox/field-checkbox";
@import "../blocks/components/field-radio/field-radio";
@import "../blocks/components/field-toggler/field-toggler";
@import "../blocks/components/link-icon/link-icon";
@import "../blocks/components/link-back/link-back";
@import "../blocks/components/filter-link/filter-link";
@import "../blocks/components/category-list/category-list";
@import "../blocks/components/category-link/category-link";
@import "../blocks/components/category-tile/category-tile";
@import "../blocks/components/catalog-title/catalog-title";
@import "../blocks/components/table-char/table-char";
@import "../blocks/components/bonus-card/bonus-card";
@import "../blocks/components/nothing-found/nothing-found";
@import "../blocks/components/order-product/order-product";
@import "../blocks/components/tab-filter/tab-filter";

@import "../blocks/components/navigation/navigation";
@import "../blocks/components/section-content/section-content";
@import "../blocks/components/box-content/box-content";

@import "../blocks/project/page-header/page-header";
@import "../blocks/project/mobile-search/mobile-search";
@import "../blocks/project/page-footer/page-footer";
@import "../blocks/project/main-content/main-content";
@import "../blocks/project/page-catalog/page-catalog";
@import "../blocks/project/page-category/page-category";
@import "../blocks/project/page-lk/page-lk";
@import "../blocks/project/promo/promo";
@import "../blocks/project/card-product/card-product";
@import "../blocks/project/reviews-author/reviews-author";
@import "../blocks/project/vacancies/vacancies";
@import "../blocks/project/main-slider/main-slider";
@import "../blocks/project/promo-list/promo-list";
@import "../blocks/project/availability/availability";
@import "../blocks/project/category-list-prev/category-list-prev";
@import "../blocks/project/wedding-list/wedding-list";
@import "../blocks/project/blog-place/blog-place";
@import "../blocks/project/preview/preview";
@import "../blocks/project/collection/collection";
@import "../blocks/project/wedding-offer/wedding-offer";
@import "../blocks/project/category-card/category-card";
@import "../blocks/project/faq/faq";
@import "../blocks/project/shop-address/shop-address";
@import "../blocks/project/shop-current/shop-current";
@import "../blocks/project/shops/shops";
@import "../blocks/project/total-amount/total-amount";
@import "../blocks/project/product-gallery/product-gallery";
@import "../blocks/project/banner/banner";
@import "../blocks/project/basket-pay/basket-pay";
@import "../blocks/project/basket-profile/basket-profile";
@import "../blocks/project/basket-delivery/basket-delivery";
@import "../blocks/project/basket-bonus/basket-bonus";
@import "../blocks/project/product-info/product-info";
@import "../blocks/project/status-table/status-table";
@import "../blocks/project/add-benefits/add-benefits";
@import "../blocks/project/mobile-menu/mobile-menu";
@import "../blocks/project/catalog-menu/catalog-menu";
@import "../blocks/project/catalog-filter/catalog-filter";
@import "../blocks/project/basket-products/basket-products";
@import "../blocks/project/order-processed/order-processed";
@import "../blocks/project/status-claim/status-claim";
@import "../blocks/project/application/application";
@import "../blocks/project/lk-menu/lk-menu";
@import "../blocks/project/lk-sub-menu/lk-sub-menu";
@import "../blocks/project/category-filter/category-filter";
@import "../blocks/project/statistics-brand/statistics-brand";
@import "../blocks/project/about-company/about-company";
@import "../blocks/project/company-banner/company-banner";
@import "../blocks/project/favorites/favorites";
@import "../blocks/project/support/support";
@import "../blocks/project/review-history/review-history";
@import "../blocks/project/promo-code/promo-code";
@import "../blocks/project/lk-order/lk-order";
@import "../blocks/project/basket/basket";
@import "../blocks/project/product-card/product-card";

@import "../blocks/project/order-page/order-page";

@import "../blocks/modals/modal-menu/modal-menu";
@import "../blocks/modals/modal-city/modal-city";
@import "../blocks/modals/modal-entry/modal-entry";
@import "../blocks/modals/modal-size-product/modal-size-product";
@import "../blocks/modals/modal-review/modal-review";
@import "../blocks/modals/modal-presence/modal-presence";
@import "../blocks/modals/modal-add/modal-add";
@import "../blocks/modals/modal-edit-size/modal-edit-size";
@import "../blocks/modals/modal-address-delivery/modal-address-delivery";

.text-content {
  @include ProximaNovaTextRegular16();

  @media(min-width: $screen-lg) {
    @include ProximaNovaTextRegular32();
  }

  span {
    color: $tp-grey;
  }

  p {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 20px;
      @media(min-width: $screen-lg) {
        margin-bottom: 47px;
      }
    }
  }

  ul {
    @include ul-reset();

    + p {
      margin-bottom: 20px;
      @media(min-width: $screen-lg) {
        margin-bottom: 47px;
      }
    }
  }

  li {
    margin: 0;
  }

  a:not(.link-back) {
    //TODO: Переделать, зависимостей быть не должно
    text-decoration: none;
    color: $other-blue;
  }
}

//TODO: Вынести
.swiper-button-arrow {
  width: 15px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);

  &:after {
    display: none;
  }
}

.swiper-button-arrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='26' viewBox='0 0 14 26' fill='none'%3E%3Cpath d='M1 1L13 13L1 25' stroke='%23F75394' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  right: 0px;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='26' viewBox='0 0 14 26' fill='none'%3E%3Cpath d='M13 25L1 13L13 1' stroke='%23F75394' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  left: 0px;
}

.overflow {
  overflow: hidden;
}

.f-button {
  display: none;
}

.fancybox__backdrop {
  background-color: rgba($bg-black, 0.4);
}
