//- Все примеси в этом файле должны начинаться c имени блока (dropdown)

mixin dropdown({text, user, attrs})

  //- Вызов:
        +dropdown({
          text: 'Показывать по 9',
          attrs: {
            class: 'btn--b-white'
          }
        })
          .menu
            span.menu__item
              a.menu__link(href='') Пункт списка
            span.menu__item
              a.menu__link(href='') Пункт меню весьма длинный
            span.menu__item
              a.menu__link(href='') Второй пункт

  span.dropdown&attributes(attributes)
    if (user === true)
      a.user.page-header__user.dropdown__toggler(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        img.user__img(src="img/content/user-1.jpg", alt="Пользователь")
    else
      button.dropdown__toggler(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')&attributes(attrs)!= text
    span.dropdown__menu(aria-labelledby=id)
      block
