mixin company-banner()
  .company-banner&attributes(attributes)
    .company-banner__bg
      img(src="img/content/company-banner.jpg", alt="Будь в центре внимания")
    .company-banner__content
      img(src="img/content/logo-white.svg", alt="Ювелир Центр")
      p.company-banner__content-text Будь в центре внимания
