.rating-product__content {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 20px;

  @media (min-width: $screen-lg) {
    gap: 20px;
  }
}

.rating-product__number {
  @include MontserratBold30();
  @media (min-width: $screen-lg) {
    @include MontserratBold54();
  }
}

.rating-product__stars {
  margin-bottom: 6px;
}

.rating-product__text {
  @include ProximaNovaTextRegular10();
  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular18();
  }
}

.rating-product__btn-wrap {
  margin-left: 30px;
  margin-right: 30px;
  @media (min-width: $screen-lg) {
    margin: 0;
  }
}

.rating-product__btn {
  @include ProximaNovaTextRegular18();
  width: 100%;
  padding: 8px;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular25();
    padding: 10px;
    margin: 0;
  }
}


