.grid-tpl {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
}

@for $i from 1 through 12 {
  .grid-tpl-col-#{$i} {
    grid-column: auto/span $i;
  }
}

@for $i from 1 through 12 {
  .grid-tpl-col-md-#{$i} {
    @media (min-width: $screen-md) {
      grid-column: auto/span $i;
    }
  }
}

@for $i from 1 through 12 {
  .grid-tpl-col-lg-#{$i} {
    @media (min-width: $screen-lg) {
      grid-column: auto/span $i;
    }
  }
}

@for $i from 1 through 12 {
  .grid-tpl-col-xl-#{$i} {
    @media (min-width: $screen-xl) {
      grid-column: auto/span $i;
    }
  }
}
