@for $i from 1 through 12 {
  .grid-tpl-#{$i} {
    display: grid;
    grid-template-columns: repeat($i, 1fr);
  }

  .grid-tpl-md-#{$i} {
    @media (min-width: $screen-md) {
      display: grid;
      grid-template-columns: repeat($i, 1fr);
    }
  }

  .grid-tpl-lg-#{$i} {
    @media (min-width: $screen-lg) {
      display: grid;
      grid-template-columns: repeat($i, 1fr);
    }
  }

  .grid-tpl-xl-#{$i} {
    @media (min-width: $screen-xl) {
      display: grid;
      grid-template-columns: repeat($i, 1fr);
    }
  }
}

@for $i from 1 through 12 {
  .grid-tpl-col-#{$i} {
    grid-column: auto/span $i;
  }

  .grid-tpl-col-md-#{$i} {
    @media (min-width: $screen-md) {
      grid-column: auto/span $i;
    }
  }

  .grid-tpl-col-lg-#{$i} {
    @media (min-width: $screen-lg) {
      grid-column: auto/span $i;
    }
  }

  .grid-tpl-col-xl-#{$i} {
    @media (min-width: $screen-xl) {
      grid-column: auto/span $i;
    }
  }
}
