@mixin identTable {
  padding: 10px 16px;

  @media (min-width: $screen-lg) {
    padding: 16px 20px;
  }

  @media (min-width: $screen-xl) {
    padding: 20px 35px;
  }
}

@mixin identTitle {
  padding: 0 16px;

  @media (min-width: $screen-lg) {
    padding: 0 20px;
  }

  @media (min-width: $screen-xl) {
    padding: 0 35px;
  }
}

.table-char__wrap-table {
  width: 100%;
  background-color: $bg-white;
  border-radius: 15px;
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.05);
}

.table-char__table {
  width: 100%;
  border-collapse: collapse;
}

.table-char__tr:not(:last-child) {
  border-bottom: 1px solid $primary-pink-1;
}

.table-char__label {
  @include ProximaNovaTextRegular13();
  @include identTable();
  width: 100%;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular16();
  }

  @media (min-width: $screen-xl) {
    @include ProximaNovaTextRegular22();
  }
}

.table-char__value {
  @include ProximaNovaTextRegular16();
  @include identTable();
  font-weight: 700;
  white-space: nowrap;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular26();
    font-weight: 700;
  }
}

.table-char__warning {
  @include identTable();
  display: block;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular20();
  }
}

.table-char__title {
  @include identTitle();
  @include ProximaNovaTextBold19();
  margin-bottom: 20px;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular36();
    margin-bottom: 40px;
    font-weight: 700;
  }
}
