.modal-address-delivery {
  overflow: hidden;

  .modal__content {
    position: static;
    padding: 0;
    height: 100%;
  }

  .modal__header {
    display: flex;
  }

  @media (min-width: $screen-lg) {
    overflow-x: inherit;
    width: 100%;
    padding: 10px;
    background-color: transparent;

    .modal__dialog {
      width: 100%;
      max-width: 1600px;
      border-radius: 15px;
      margin: auto;
      overflow: hidden;
      background-color: $white;
    }
  }
}
