mixin modal-address-delivery()
  +modal({
    id: 'modal-address-delivery',
    headerBlock: false
  }).modal-address-delivery
    .modal-address-delivery__row
      .modal-address-delivery__map
        iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A01fd59d5622493900f4c548c7d3f6064f7cc32ab7f12247796f4e975d87d8d29&amp;source=constructor" width="100%" height="865" )
      .modal-address-delivery__content
        button.modal-address-delivery__close(data-fancybox-close="" aria-label='Закрыть' type="button")
          svg(width="24" height="24")
            use(href="img/symbols.svg#icon-close")
        +shop-current(data-shop-current="")
        +tab-filter({
          list: [
            {
              text: 'Магазины',
              filter: 'shops',
              active: true
            },
            {
              text: 'Пункты выдачи',
              filter: 'pickup-points'
            }
          ],
          listClass: 'modal-address-delivery__header-filter'
        }).modal-address-delivery__tab-filter
          - for (let i = 0; i <= 1; i++)
            - const currentsTabFilter = !!i ? 'shops' : 'pickup-points';
            .modal-address-delivery__tabs(data-filter=currentsTabFilter)
              ul.modal-address-delivery__list
                each item in addressList
                  li.modal-address-delivery__item
                    +shop-address({
                      title: item.title,
                      address: item.address
                    })(data-shop="")
