mixin modal-address-delivery()
  +modal({
    id: 'modal-address-delivery',
    headerBlock: false
  }).modal-address-delivery
    .modal__header.d-lg-none
      +link-icon({
        icon: 'icon-arrow-3',
        widthIcon: 18,
        heightIcon: 18,
      })(data-fancybox-close="")
    +shops({})
