// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$font-family--headings:       -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-size--h3:               24px;

$line-height:                 1.5 !default;

.form--search {
  position: relative;
  display: flex;
  border-radius: 10px;
  border: 1px solid $border-gray;

  .field-text__input {
    font-size: 25px;
    line-height: 30px;
    padding: 14px 30px 14px 74px;
    border-radius: 10px;
    border: none;
    background-position: center left 30px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M23.7962 22.9278L17.0564 16.1538C18.7241 14.2549 19.5875 11.7824 19.4644 9.25876C19.3412 6.73516 18.241 4.35834 16.3964 2.63075C14.5518 0.903171 12.1073 -0.039765 9.57975 0.00128629C7.0522 0.0423375 4.63967 1.06416 2.85219 2.85073C1.0647 4.63731 0.0423591 7.0486 0.00128694 9.57487C-0.0397853 12.1011 0.903633 14.5444 2.6321 16.388C4.36056 18.2317 6.7386 19.3313 9.26348 19.4545C11.7884 19.5776 14.2622 18.7145 16.162 17.0477L22.9395 23.8092C22.9961 23.8694 23.0644 23.9174 23.1402 23.9503C23.216 23.9831 23.2978 24 23.3804 24C23.4631 24 23.5448 23.9831 23.6207 23.9503C23.6965 23.9174 23.7648 23.8694 23.8214 23.8092C23.88 23.751 23.9261 23.6814 23.9568 23.6046C23.9875 23.5279 24.0021 23.4457 23.9998 23.3631C23.9974 23.2805 23.9781 23.1992 23.9431 23.1244C23.9081 23.0495 23.8581 22.9826 23.7962 22.9278ZM9.74981 18.2061C8.08045 18.2061 6.44858 17.7114 5.06056 16.7844C3.67254 15.8574 2.59072 14.5399 1.95188 12.9984C1.31305 11.4569 1.1459 9.76066 1.47157 8.12422C1.79725 6.48777 2.60112 4.9846 3.78153 3.80479C4.96195 2.62498 6.46588 1.82151 8.10316 1.49601C9.74044 1.1705 11.4375 1.33756 12.9798 1.97607C14.5221 2.61458 15.8403 3.69585 16.7678 5.08317C17.6952 6.47048 18.1902 8.10151 18.1902 9.77002C18.1869 12.0064 17.2966 14.1502 15.7144 15.7316C14.1322 17.3129 11.9873 18.2028 9.74981 18.2061Z' fill='%23070707'/%3E%3C/svg%3E");

    &:focus {
      outline: none;
    }
  }

  .field-text {
    margin: 0;
    width: 100%;
  }
}

.form__fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.form__legend {
  display: block;
  width: 100%;
  max-width: 100%; // Привет IE
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: $font-size--h3;
  font-family: $font-family--headings;
  font-weight: 700;
  line-height: $line-height;
  white-space: normal; // Привет IE
  color: currentColor;
}

//.form__search-btn {
//  position: absolute;
//  top: 0;
//  left: 0;
//  padding: 10px 20px 10px 30px;
//  height: 100%;
//  cursor: pointer;
//
//  //padding: 0;
//  border: none;
//}

.form__search-btn {
  @include ProximaNovaTextRegular20();
  //position: absolute;
  //right: 0;
  //bottom: 0;
  //top: 0;
  flex-shrink: 0;
  max-width: 141px;
  width: 100%;

  margin-right: -1px;
  margin-top: -1px;
  margin-bottom: -1px;
}
