-
  const listStatus = [
    {
      title: 'Статус',
      subtitle: 'Ваш статус: Циркон',
      list: [
        {
          label: 'Кэшбэк бонусами'
        },
        {
          label: 'Сумма покупок, руб.'
        },
        {
          label: 'Бонусы на день рождения'
        },
        {
          label: 'Персональные предложения'
        }
      ]
    },
    {
      title: 'Циркон',
      subtitle: '1 уровень',
      current: true,
      list: [
        {
          label: 'Кэшбэк бонусами',
          value: '5% от суммы чека'
        },
        {
          label: 'Сумма покупок, руб.',
          value: '0 - 3 000'
        },
        {
          label: 'Бонусы на день рождения',
          value: '3 000'
        },
        {
          label: 'Персональные предложения',
          value: '-'
        }
      ]
    },
    {
      title: 'Рубин',
      subtitle: '2 уровень',
      list: [
        {
          label: 'Кэшбэк бонусами',
          value: '10% от суммы чека'
        },
        {
          label: 'Сумма покупок, руб.',
          value: '3 000 - 10 000'
        },
        {
          label: 'Бонусы на день рождения',
          value: '5 000'
        },
        {
          label: 'Персональные предложения',
          value: '-'
        }
      ]
    },
    {
      title: 'Сапфир',
      subtitle: '3 уровень',
      list: [
        {
          label: 'Кэшбэк бонусами',
          value: '12% от суммы чека'
        },
        {
          label: 'Сумма покупок, руб.',
          value: '10 000 - 30 000'
        },
        {
          label: 'Бонусы на день рождения',
          value: '5 000'
        },
        {
          label: 'Персональные предложения',
          value: 'Да'
        }
      ]
    },
    {
      title: 'Алмаз',
      subtitle: '4 уровень',
      list: [
        {
          label: 'Кэшбэк бонусами',
          value: '15% от суммы чека'
        },
        {
          label: 'Сумма покупок, руб.',
          value: 'более 30 000'
        },
        {
          label: 'Бонусы на день рождения',
          value: '7 000'
        },
        {
          label: 'Персональные предложения',
          value: 'Да'
        }
      ]
    },
  ]

mixin status-table
  .status-table(data-accordion="parent", data-destroy=`(max-width: ${media.lg - 1}px)`)
    each item, i in listStatus
      - const firstElem = i === 0 ? `status-table__char-first` : 'status-table__char';
      - const classActive = item.current && 'current';
      +table-char({
        list: item.list,
        title: item.title,
        subtitle: item.subtitle,
        isAccordion: true,
      })(data-accordion="element" class=[firstElem, classActive])

