-
  const listStatus = [
    {
      label: 'Аша, Ленина, 14',
    },
    {
      label: 'Аша, Ленина, 14',
    },
    {
      label: 'Аша, Ленина, 14',
    },
    {
      label: 'Аша, Ленина, 14',
    },
  ]

mixin status-table
  .status-table
    +table-char({
      list: listStatus,
      title: 'Циркон'
    }).d-none.d-lg-block
    +table-char({
      list: listStatus,
      title: 'Циркон'
    })
    +table-char({
      list: listStatus,
      title: 'Циркон'
    })
    +table-char({
      list: listStatus,
      title: 'Циркон'
    })
    +table-char({
      list: listStatus,
      title: 'Циркон'
    })
