mixin blog-place
  .blog-place
    -
      const blogList = [
        {
          src: 'img/content/ban-silver-1.jpg',
          title: 'Скидка до 75% на серебро'
        },
        {
          src: 'img/content/ban-silver-2.jpg',
          title: 'специальные цены на бриллианты'
        }
      ]
    .container
      .swiper.blog-place__slider(data-slider-place="")
        .swiper-wrapper
          each item in blogList
            .swiper-slide.blog-place__item
              +promo({
                src: item.src,
                title: item.title
              })(href="#").blog-place__content
        .swiper-button-next.swiper-button-arrow
        .swiper-button-prev.swiper-button-arrow
