.basket {
  padding-bottom: 80px;

  &--nothing {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 100px;
  }

  @media (min-width: $screen-xl) {
    padding-bottom: 200px;
  }
}

.basket__stack {
  gap: 40px;
  @media (min-width: $screen-lg) {
    gap: 130px;
  }

  @media (min-width: $screen-xl) {
    gap: 100px;
  }
}

.basket__nothing-wrap {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.basket__grid {
  @media (min-width: $screen-lg) {
    display: grid;
    grid-template-columns: 600px 1fr;
    align-items: flex-start;
    gap: 40px;
  }

  @media (min-width: $screen-xl) {
    grid-template-columns: 1040px 1fr;
    gap: 70px;
  }
}

.basket__processing {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 56px;
  padding: 18px 20px 18px 36px;
  background-color: $white;
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.05);

  .price {
    @include ProximaNovaTextBold19;
    white-space: nowrap;
  }
}

.basket__processing-btn {
  max-width: 220px;
  width: 100%;
}

.basket__title {
  margin-bottom: 20px;

  @media (min-width: $screen-lg) {
    margin-bottom: 43px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 80px;
  }
}
