.basket__grid {
  //display: grid;

  @media (min-width: $screen-lg) {
    display: grid;
    grid-template-columns: 600px 1fr;
    align-items: flex-start;
    gap: 40px;
  }

  @media (min-width: $screen-xl) {
    grid-template-columns: 1040px 1fr;
    gap: 70px;
  }
}
