mixin bonus-card
  section.bonus-card&attributes(attributes)
    p.bonus-card__status platinum
    h2.bonus-card__count-bonus 10 000 Бонусов
    span.bonus-card__name Ilnaz Bayramov
    svg.bonus-card__icon(width="34" height="34")
      use(href="img/symbols.svg#icon-logo-mini")
