.shops {
  height: 100%;
  @media (min-width: $screen-lg) {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
  }
}

.shops__content {
  padding: 96px 20px 40px;
  overflow: auto;
  height: 100%;

  @media (min-width: $screen-lg) {
    position: relative;
    max-width: 589px;
    width: 100%;
    padding: 47px 39px;
    max-height: 871px;
    overflow: inherit;
    height: auto;
  }
}

.shops__close-content {
  position: absolute;
  right: 8px;
  top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: transparent;
  background-color: rgba($primary-black, 0.6);
  transform: rotate(-0deg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='20' viewBox='0 0 12 20' fill='none'%3E%3Cpath d='M0.875 0.625L11.2917 10L0.875 19.375' stroke='%23FCFCFC' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

  &.active {
    transform: rotate(-180deg);
  }
}

.shops__map {
  position: relative;
  height: 100%;
  flex-grow: 1;

  @media (min-width: $screen-lg) {
    min-width: 646px;
    display: block;
  }
}

.shops__map-elem {
  display: block;
  border: none;
  width: 100%;
  height: 100%;

  @media (min-width: $screen-lg) {
    min-height: 871px;
  }
}

.shops__list {
  @include ul-reset;
  height: 100%;
  overflow: auto;
  @media (min-width: $screen-lg) {
    padding-right: 39px;
    margin-right: -39px;

    &::-webkit-scrollbar {
      transform: translateX(-50px);
      width: 8px;
      background-color: $bg-gray-1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-pink-1;
    }
  }
}

.shops__item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $other-grey;
}

.shops__btn-toggle {
  position: fixed;
  bottom: 50px;
  right: 20px;

  display: flex;
  flex-direction: column;
  gap: 7px;
  z-index: 2;
}

.shops__selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;

  border-radius: 10px;
  border: 1px solid rgba($border-gray, 0.5);

  background-color: $white;
  color: $tp-black;

  svg {
    fill: transparent;
  }

  &.active {
    background-color: $bg-black;
    color: $white;
  }
}

.shops__close {
  position: absolute;
  right: 39px;
  top: 47px;
  border: 0;
  padding: 0;
  margin: 0;
  color: $icons-grey;
  cursor: pointer;

  svg {
    display: block;
  }
}

.shops__header-filter {
  @include ProximaNovaTextRegular16;
  margin-bottom: 10px;

  .tab-filter__list {
    justify-content: center;
  }

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular26;
    margin-bottom: 20px;
    padding-right: 40px;

    .tab-filter__list {
      justify-content: flex-start;
    }
  }
}

.shops__tab-filter {
  @media (min-width: $screen-lg) {
    height: 100%;
  }
}

.shops--pages {
  .shops__item {
    border-color: $primary-pink-1;
  }

  @media (max-width: $screen-lg - 1) {
    .shops__content {
      padding: 40px 0 0;
    }

    .shops__btn-toggle {
      bottom: 100px;
    }

    .shop-address__btn-more {
      @include ProximaNovaTextRegular18;
      padding: 8px;
      max-width: 170px;
    }

    .shops__map {
      margin: 0 -20px -62px;
    }

    .shops__map-elem {
      min-height: calc(100dvh - 112px);
    }
  }
}
