-
  const numberPhone = {
    href: 'tel:88005504448',
    text: '8 800 550 44 48'
  }

  const media = {
    md: 768,
    lg: 1080,
    xl: 1720,
  }

  const pages = {
    index: {
      text: 'Главная',
      href: 'index.html'
    },
    actions: {
      text: 'Акции',
      href: 'actions.html'
    },
    catalog: {
      text: 'Каталог',
      href: 'catalog.html'
    },
    favorites: {
      text: 'Избранное',
      href: 'favorites.html'
    },
    basket: {
      text: 'Корзина',
      href: 'basket.html'
    },
    profile: {
      text: 'Профиль',
      href: 'profile.html'
    },
  }
