-
  const numberPhone = {
    href: 'tel:88005504448',
    text: '8 800 550 44 48'
  }

  const media = {
    md: 768,
    lg: 1080,
    xl: 1720,
  }

  const pages = {
    404: {
      text: '404',
      href: '404.html',
    },
    index: {
      text: 'Главная',
      href: 'index.html'
    },
    catalog: {
      text: 'Каталог',
      href: 'catalog.html'
    },
    catalogActions: {
      text: 'Акции',
      href: 'catalog-actions.html'
    },
    catalogNew: {
      text: 'Новинки',
      href: 'catalog-new.html'
    },
    catalogWedding: {
      text: 'Свадьба',
      href: 'catalog-wedding.html'
    },
    catalogRings: {
      text: 'Кольца',
      href: 'catalog-rings.html'
    },
    catalogEarrings: {
      text: 'Серьги',
      href: 'catalog-earrings.html'
    },
    catalogBracelets: {
      text: 'Браслеты',
      href: 'catalog-bracelets.html'
    },
    catalogPendants: {
      text: 'Подвески',
      href: 'catalog-pendants.html'
    },
    catalogChain: {
      text: 'Цепи',
      href: 'catalog-chain.html'
    },
    pagePrivacyPolicy: {
      text: 'Политика конфиденциальности',
      href: 'page-privacy-policy.html',
    },
    pageDiamond: {
      text: 'Мир бриллиантов',
      href: 'page-diamonds.html',
    },
    pageReturn: {
      text: 'Правила возврата товара в интернет-магазин',
      href: 'page-return.html',
    },
    pageBuying: {
      text: 'Скупка золота и серебра',
      href: 'page-buying.html',
    },
    pageExchange: {
      text: 'Обмен украшений',
      href: 'page-exchange.html',
    },
    pageBonus: {
      text: 'Программа лояльности',
      href: 'page-bonus.html'
    },
    pageAbout: {
      text: 'О компании',
      href: 'page-about.html'
    },
    pageVacancy: {
      text: 'Продавец-консультант',
      href: 'page-vacancy.html'
    },
    pageCategory: {
      text: 'Ювелирные изделия',
      href: 'page-category.html'
    },
    bonusRules: {
      text: 'Правила бонусной программы',
      href: 'page-bonus-rules.html'
    },
    lk: {
      text: 'Профиль',
      href: 'lk.html'
    },
    lkBuy: {
      text: 'Мои заказы',
      href: 'lk-buy.html'
    },
    lkBuyMore: {
      text: 'Мои заказы подробная информация',
      href: 'lk-buy-more.html'
    },
    lkNoBuy: {
      text: 'На данный момент у вас не было заказов',
      href: 'lk-no-buy.html'
    },
    lkNoFavorite: {
      text: 'Вы пока ничего не добавили в избранное.',
      href: 'lk-no-favorite.html'
    },
    lkNoPromoCodes: {
      text: 'Вы пока не получали промокоды.',
      href: 'lk-no-promo-codes.html'
    },
    lkNoReview: {
      text: 'Вы еще не оставляли отзывов',
      href: 'lk-no-review.html'
    },
    lkReview: {
      text: 'Мои отзывы',
      href: 'lk-review.html'
    },
    lkFavorites: {
      text: 'Избранное',
      href: 'lk-favorites.html'
    },
    lkPromoCodes: {
      text: 'Мои промокоды',
      href: 'lk-promo-codes.html'
    },
    lkSupport: {
      text: 'Поддержка',
      href: 'lk-support.html'
    },
    basket: {
      text: 'Корзина',
      href: 'basket.html'
    },
  }

  const catalogMenulist = [
    {
      text: "Все украшения",
      href: pages.catalog.href,
      icon: 'main',
      sizeXl: true,
      tile: false,
    },
    {
      text: pages.catalogActions.text,
      href: pages.catalogActions.href,
      icon: 'sale'
    },
    {
      text: pages.catalogNew.text,
      href: pages.catalogNew.href,
      icon: 'new'
    },
    {
      text: pages.catalogWedding.text,
      href: pages.catalogWedding.href,
      icon: 'wedding'
    },
    {
      text: "Обручальные кольца",
      href: pages.catalogWedding.href,
      icon: 'wedding-rings',
      sizeMd: true,
      navBarHidden: true,
    },
    {
      text: pages.catalogRings.text,
      href: pages.catalogRings.href,
      icon: 'rings'
    },
    {
      text: pages.catalogEarrings.text,
      href: pages.catalogEarrings.href,
      icon: 'earrings'
    },
    {
      text: pages.catalogChain.text,
      href: pages.catalogChain.href,
      icon: 'chain'
    },
    {
      text: pages.catalogBracelets.text,
      href: pages.catalogBracelets.href,
      icon: 'bracelets'
    },
    {
      text: pages.catalogPendants.text,
      href: pages.catalogPendants.href,
      icon: 'pendants'
    },
    {
      text: "Колье",
      href: "#",
      icon: 'necklace'
    },
    {
      text: "Пирсинг",
      href: "#",
      icon: 'piercing'
    },
    {
      text: "Булавка",
      href: "#",
      icon: 'pin'
    },
    {
      text: "Брошь",
      href: "#",
      icon: 'brooch'
    },
    {
      text: "Крестик",
      href: "#",
      icon: 'cross',
      sizeMd: true,
      navBarHidden: true
    },
    {
      text: "Запонки",
      href: "#",
      icon: 'cufflinks',
      sizeMd: true,
      navBarHidden: true
    },
    {
      text: "Зажимы",
      href: "#",
      icon: 'clamps',
      sizeXs: true,
      navBarHidden: true
    },
    {
      text: "Столовое серебро",
      href: "#",
      icon: 'silver-plate',
      sizeXs: true,
      navBarHidden: true
    },
    {
      text: "Подарочная упаковка",
      href: "#",
      icon: 'gift-wrap',
      sizeXs: true,
      navBarHidden: true
    },
    {
      text: "Чистящее средство",
      href: "#",
      icon: 'cleaning-agent',
      sizeXs: true,
      navBarHidden: true
    },
  ]

  const lkMenuList = [
    {
      text: "Личные данные",
      href: pages.lk.href,
    },
    {
      text: pages.lkBuy.text,
      href: pages.lkBuy.href,
      icon: 'buy'
    },
    {
      text: pages.lkReview.text,
      href: pages.lkReview.href,
      icon: 'review'
    },
    {
      text: "Бонусная программа",
      href: pages.pageBonus.href,
    },
    {
      text: pages.lkFavorites.text,
      href: pages.lkFavorites.href,
    },
    {
      text: pages.lkPromoCodes.text,
      href: pages.lkPromoCodes.href,
      icon: 'gift'
    },
    {
      text: pages.lkSupport.text,
      href: pages.lkSupport.href,
    },
  ]

  const listMaterials = [
    "Желтое золото",
    "Красное золото",
    "Белое золото",
    "Серебро",
    "Платина",
    "Керамика"
  ]

  const listJeweler = [
    "Аметист",
    "Бриллиант",
    "Фианит",
    "Изумруд",
    "Топаз",
    "Гранат",
    "Жемчуг",
    "Рубин",
    "Агат",
    "Александрит",
    "Нефрит",
    "Янтарь",
  ]

  const selectData = [];
  for (let i = 1; i <= 31; i++)
    selectData.push({
      title: i,
      attrs: {
        value: i,
      },
    })

  const selectMonth = [];
  const selectMonthList = [
    "Январь",
    "Февраль",
    "Март",
    "Апрель",
    "Май",
    "Июнь",
    "Июль",
    "Август",
    "Сентябрь",
    "Октябрь",
    "Ноябрь",
    "Декабрь",
  ]
  selectMonthList.forEach((item, i) =>
    selectMonth.push({
      title: selectMonthList[i],
      attrs: {
        value: selectMonthList[i],
      },
    })
  )
  const selectYear = [];
  for (let i = 2000; i <= 2020; i++)
    selectYear.push({
      title: i,
      attrs: {
        value: i,
      },
    })

  const order = {
    personal: {
      date: "Заказ от 17.04.2023",
      number: `№0987654321333`,
    },
    sale: {
      shop: "Самовывоз из магазина",
      shopAddress: "Адрес магазина",
      address: "Республика Башкортостан, г. Уфа, ул. Рубежная, дом 174"
    },
    user: {
      fio: 'Ильназ Байрамов',
      phone: 'тел. +7 (937) 777-77-77'
    },
    order: [
      {
        price: "33 330 р.",
        title: 'Общая стоимость'
      },
      {
        price: "-23 330 р.",
        title: 'Скидка по акции'
      },
      {
        price: "Бесплатно",
        title: 'Стоимость доставки'
      },
      {
        price: "9 990 р.",
        title: 'Итого'
      },
    ]
  }

  const filter = [
    {
      title: 'Вид',
      list: [
        "Кольца",
        "Серьги",
        "Цепи",
        "Браслеты",
        "Подвески",
        "Колье",
        "Пирсинг",
        "Булавка",
        "Брошь"
      ],
    },
    {
      title: 'Материал ',
      list: [
        "Золото",
        "Серебро",
        "Платина",
        "Керамика",
        "Натуральная кожа",
        "Ювелирная сталь",
        "Каучук",
      ],
    },
    {
      title: 'Цена ',
    },
    {
      title: 'Вставка ',
      list: [
        "Аметист",
        "Бриллиант",
        "Фианит",
        "Изумруд",
        "Топаз",
        "Гранат",
        "Жемчуг",
        "Кварц",
        "Агат"
      ],
    },
    {
      title: 'Вид',
      list: [
        "Кольца",
        "Серьги",
        "Цепи",
        "Браслеты",
        "Подвески",
        "Колье",
        "Пирсинг",
        "Булавка",
        "Брошь"
      ],
    },
    {
      title: 'Цвет вставки ',
      list: [
        "Белый",
        "Голубой",
        "Желтый",
        "Красный",
        "Коричневый",
        "Зеленый",
        "Оранжевый",
        "Розовый",
        "Разноцветный"
      ],
    },
    {
      title: 'Для кого',
      list: [
        "Для женщин",
        "Для мужчин",
        "Детские",
        "Унисекс",
      ],
    },
    {
      title: 'Подвид ',
      list: [
        "Обручальные",
        "Помолвочные",
        "Детские",
        "Европейские",
        "Гладкие",
        "Комбинированные",
        "Перстень",
      ],
    },
    {
      title: 'Тематика ',
      list: [
        "Любовь",
        "Религия",
        "Буквы",
        "Геометрия",
        "Символы",
        "Классика",
        "Животные",
        "Гороскоп",
        "Имена",
      ],
    },
    {
      title: 'Проба',
      list: [
        "585°",
        "375°",
        "925°",
        "750°",
      ],
    },
    {
      title: 'Наличие в магазине',
      list: [
        "ул. Рубежная 174",
        "ул. Ферина 29",
        "ул. Кольцевая 56",
        "ул. Первомайская 54",
        "ул. Губайдуллина 6",
        "ул. Ухтомского 16",
        "ул. С. Перовской 48",
        "ул. Пр. Октября 31",
        "ул. Цюрупы 97",
      ],
    },

  ]
