-
  const numberPhone = {
    href: 'tel:88005504448',
    text: '8 800 550 44 48'
  }

  const media = {
    md: 768,
    lg: 1080,
    xl: 1720,
  }

  const pages = {
    index: {
      text: 'Главная',
      href: 'index.html'
    },
    catalog: {
      text: 'Каталог',
      href: 'catalog.html'
    },
    catalogActions: {
      text: 'Акции',
      href: 'catalog-actions.html'
    },
    catalogNew: {
      text: 'Новинки',
      href: 'catalog-new.html'
    },
    catalogWedding: {
      text: 'Свадьба',
      href: 'catalog-wedding.html'
    },
    catalogRings: {
      text: 'Кольца',
      href: 'catalog-rings.html'
    },
    catalogEarrings: {
      text: 'Серьги',
      href: 'catalog-earrings.html'
    },
    catalogBracelets: {
      text: 'Браслеты',
      href: 'catalog-bracelets.html'
    },
    catalogPendants: {
      text: 'Подвески',
      href: 'catalog-pendants.html'
    },
    catalogChain: {
      text: 'Цепи',
      href: 'catalog-chain.html'
    },
    juristic: {
      text: 'Политика конфиденциальности',
      href: 'juristic.html',
      hidden: true,
    },
    favorites: {
      hidden: true,
      text: 'Избранное',
      href: 'favorites.html'
    },
    basket: {
      hidden: true,
      text: 'Корзина',
      href: 'basket.html'
    },
    profile: {
      hidden: true,
      text: 'Профиль',
      href: 'profile.html'
    },
  }

  const catalogMenulist = [
    {
      text: "Все украшения",
      href: pages.catalog.href,
      icon: 'main',
      sizeXl: true,
    },
    {
      text: pages.catalogActions.text,
      href: pages.catalogActions.href,
      icon: 'sale'
    },
    {
      text: pages.catalogNew.text,
      href: pages.catalogNew.href,
      icon: 'new'
    },
    {
      text: pages.catalogWedding.text,
      href: pages.catalogWedding.href,
      icon: 'wedding'
    },
    {
      text: "Обручальные кольца",
      href: pages.catalogWedding.href,
      icon: 'wedding-rings',
      sizeMd: true,
      navBarHidden: true,
    },
    {
      text: pages.catalogRings.text,
      href: pages.catalogRings.href,
      icon: 'rings'
    },
    {
      text: pages.catalogEarrings.text,
      href: pages.catalogEarrings.href,
      icon: 'earrings'
    },
    {
      text: pages.catalogChain.text,
      href: pages.catalogChain.href,
      icon: 'chain'
    },
    {
      text: pages.catalogBracelets.text,
      href: pages.catalogBracelets.href,
      icon: 'bracelets'
    },
    {
      text: pages.catalogPendants.text,
      href: pages.catalogPendants.href,
      icon: 'pendants'
    },
    {
      text: "Колье",
      href: "#",
      icon: 'necklace'
    },
    {
      text: "Пирсинг",
      href: "#",
      icon: 'piercing'
    },
    {
      text: "Булавка",
      href: "#",
      icon: 'pin'
    },
    {
      text: "Брошь",
      href: "#",
      icon: 'brooch'
    },
    {
      text: "Крестик",
      href: "#",
      icon: 'cross',
      sizeMd: true,
      navBarHidden: true
    },
    {
      text: "Запонки",
      href: "#",
      icon: 'cufflinks',
      sizeMd: true,
      navBarHidden: true
    },
    {
      text: "Зажимы",
      href: "#",
      icon: 'clamps',
      sizeXs: true,
      navBarHidden: true
    },
    {
      text: "Столовое серебро",
      href: "#",
      icon: 'silver-plate',
      sizeXs: true,
      navBarHidden: true
    },
    {
      text: "Подарочная упаковка",
      href: "#",
      icon: 'gift-wrap',
      sizeXs: true,
      navBarHidden: true
    },
    {
      text: "Чистящее средство",
      href: "#",
      icon: 'cleaning-agent',
      sizeXs: true,
      navBarHidden: true
    },
  ]

  const listMaterials = [
    "Желтое золото",
    "Красное золото",
    "Белое золото",
    "Серебро",
    "Платина",
    "Керамика"
  ]

  const listJeweler = [
    "Аметист",
    "Бриллиант",
    "Фианит",
    "Изумруд",
    "Топаз",
    "Гранат",
    "Жемчуг",
    "Рубин",
    "Агат",
    "Александрит",
    "Нефрит",
    "Янтарь",
  ]
