-
  const generalProvisions = () => {
    return `
        <p>Мы- Ювелирцентр, магазин ювелирных изделий и украшений.</p>

        <p>Далее, когда мы употребляем слово “интернет-магазин”, мы имеем
        в виду <a href="https://www.uvelircentr.com/" target="_blank">https://www.uvelircentr.com/</a> официальный сайт Ювелирцентр, доступный для использование в сети интернет</p>

        <p>Мы заботимся о наших покупателях, безопасности их персональных данных и личной информации и стремимся к прозрачности. В этом документе мы рассказываем о том, как мы обрабатываем ваши персональные данные, которые можем получить при использовании вами интернет-магазина.
        <br>Использование интернет-магазина предполагает совершение вами любого действия в нашем интернет-магазине.</p>

        Например:
        <ul>
          <li>- просмотр любой страницы нашего официального сайта (независимо от факта регистрации или авторизации в интернет-магазине);</li>
          <li>- регистрация и/или авторизация на официальном сайте;</li>
          <li>- оформление заказа;</li>
          <li>- обращение в службу поддержки с использованиеминтернет-магазина:</li>
          <li>- совершение иных действий, которые предусмотрены функционалом интернет-магазина</li>
        </ul>

        <p>Оператором Ваших персональных данных является ООО «Ю-ЦЕНТР» (Место нахождения: Россия, 450105, Республика Башкортостан,
        г. Уфа, ул. Академика Королева, д. 27, пом. 7, ОГРН 1220200032744, тел.: +7 (347) 272-17-28). Оператор принимает все необходимые технические и организационные меры для защиты персональных данных, которые предусмотрены российским законодательством
        об обработке и защите персональных данных.
        <br>Пожалуйста, обратите внимание, мы считаем, что Вы ознакомились
         и согласны с нашей политикой конфиденциальности, если
        Вы продолжаете использовать наш интернет-магазин.</p>

      `
  }

  const personalInformation = () => {
    return `
      Во время использования вами интернет-магазина мы можем получить
      и Вы можете предоставить нам следующие персональные данные:
      <ul>
        <li>- фамилия, имя;</li>
        <li>- адрес электронной почты;</li>
        <li>- номер телефона;</li>
        <li>- адреса доставки товаров;</li>
        <li>- информацию из ваших сообщений, направленных в службу поддержки интернет-магазина.</li>
      </ul>
      <p>Когда вы используете интернет-магазин, мы можем получать следующие данные: <br>
      - данные об устройстве (включая MAC-адрес, IP-адрес, IDFA, Google Advertising ID, данные об операционной системе устройства, данные
      о браузере, разрешении экрана):</p>

      <p><strong>MAC-адрес</strong>  уникальный идентификатор устройства, которое
      вы используете при взаимодействии с Сервисом;</p>

      <p><strong>IP-адрес</strong>  уникальный сетевой адрес устройства, которое
      вы используете при взаимодействии с Сервисом;</p>

      <p><strong>IDFA</strong>  уникальный идентификатор устройства, работающего
      на системе iOS (если вы используете такое устройство при взаимодействии с Сервисом);</p>

      <p><strong>Google Advertising ID</strong>  уникальный идентификатор устройства, работающего на системе Android (если вы используете такое устройство при взаимодействии с Сервисом)</p>
      <ul>
        <li>- push-токены (небольшие технические файлы, которые позволяют корректно отправлять вам push-уведомления в интернет-магазине);</li>
        <li>- cookie-файлы (технология, которую мы используем для автоматического сбора информации, в основном технического характера);</li>
        <li>- данные о составе ваших заказов, статусе и процессе
        их выполнения;</li>
        <li>- данные об использовании промокодов, предоставленных
         для использования в интернет-магазине;</li>
        <li>- данные, полученные в результате анализа иных данных, полученных при использовании интернет-магазина, либо предоставленных вами.</li>
      </ul>
    `
  }
  const dataProcessing = () => {
    return `
      <p>При использовании вами интернет-магазина мы можем обрабатывать данные для следующих целей:</p>
      <ul>
        <li>- организация сборки ваших заказов;</li>
        <li>- обработка вашей обратной связи;</li>
        <li>- обеспечение вашего доступа к функционалу интернет-магазина
        и обеспечения возможности использования соответствующего функционала;</li>
        <li>- поддержание работоспособности, техническое обслуживание, улучшение функциональности интернет-магазина и обеспечивающих его функционирование систем;</li>
        <li>- исполнение требований применимого к нашей деятельности законодательства;</li>
        <li>- защита и осуществление наших прав и законных интересов,
        а также прав и законных интересов третьих лиц, в том числе, для защиты от мошеннических действий пользователей интернет-магазина, при условии, что при этом не нарушаются ваши права
        и свободы;</li>
        <li>- реализация Бонусной программы в интернет-магазине;</li>
        <li>- начисление бонусных баллов на ваши карты программ лояльности</li>
        <li>- предоставление информации об оказываемых  услугах и продаваемых Товарах, в маркетинговых целях путем рассылки электронных и смс сообщений;</li>
        <li>- иных целей, предусмотренных в согласия на обработку персональных данных, которые вы могли предоставить в процессе использования интернет-магазина;</li>
        <li>- иных целей, предусмотренных законодательством РФ.
         Мы можем обрабатывать ваши данные в течение одного из следующих сроков:</li>
        <li>- до момента достижения целей обработки персональных данных, для которых они собирались.
        Цели обработки персональных данных будут считаться достигнутыми, если вы не будете использовать интернет-магазин
        в течение 3 (трех) лет;</li>
        <li>- в течение срока, указанного в согласиях, которые вы предоставляли в процессе использования интернет-магазина (если такой срок предусмотрен согласием);</li>
        <li>- до момента отзыва согласия на обработку персональных данных
        и/или получения требования об удалении вашего аккаунта
        в интернет-магазине и как участника программы лояльности.</li>
      </ul>

      <p>Для достижения целей обработки мы можем совершать следующие действия с вашими данными: сбор, получение, систематизация, накопление, хранение, обновление, изменение, запись, извлечение, использование, удаление, блокирование, уничтожение, передачу (предоставление, доступ), уточнение.
      Обработка может осуществляться следующими способами: автоматизированный, не автоматизированный, смешанный.</p>
    `
  }

  const interaction = () => {
    return `
      <p>5.1 Общие сведения <br>
      В соответствии с Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных» (далее – «Закон о персональных данных») у вас, как у субъекта персональных данных, есть следующие права: <br>
      - право на доступ к персональным данным; <br>
      - право на уточнение персональных данных; <br>
      - право на блокирование и удаление персональных данных; <br>
      - право на отзыв согласия на обработку персональных данных.
      </p>

      <p>5.2 Право на доступ к вашим персональным данным<br>
      Если вы хотите реализовать право на доступ персональных данных
      (в объеме, предусмотренном статьей 14 Закона о персональных данных), вам нужно направить нам почтой запрос в письменной форме по нашему юридическому адресу (для удобства, мы указали его внизу этого документа).<br>
      Также актуальный адрес всегда можно уточнить в Едином государственном реестре юридических лиц (https://egrul.nalog.ru/index.html), указав в строке поиска наш ОГРН: 1187746494980.<br>
      Ваш запрос должен быть составлен в письменной форме
      и, в частности, содержать:<br>
      - номер основного документа, удостоверяющего вашу личность;<br>
      - сведения о дате выдачи указанного документа и выдавшем его органе;<br>
      - номер телефона и адрес электронной почты, которые вы указали при регистрации или авторизации в магазине;<br>
      - какую информацию вы хотите получить (перечень информации, которую вы можете запросить, предусмотрен частью 7 статьи 14 Закона о персональных данных);<br>
      - вашу подпись.<br>
      Мы можем отказать в удовлетворении Вашего запроса, если ваш запрос не соответствует форме или вы не указали информацию, предусмотренным пунктом выше, либо направили запрос иным способом.</p>

      <p>5.3 Право на уточнение персональных данных.<br>
      Если вы выявили, что в интернет-магазине указаны ваши не точные персональные данные (например, вы допустили ошибку при их указании, данные устарели или более не являются актуальными), если это предусмотрено функционалом интернет-магазина, вы можете самостоятельно внести корректировки в эти данные в вашем личном кабинете в интернет-магазине.<br>
      Если в связи с функциональностью интернет-магазина вы не можете внести корректировки самостоятельно, обратитесь в службу поддержки и укажите данные, которые вы хотели бы уточнить.<br>
      Если в связи с вашим обращением мы выявим, что действительно обрабатываем неточные данные, мы удалим неактуальные данные
      и скорректируем их в соответствии с вашим запросом.<br>
      Также до момента корректировки данных мы можем заблокировать неточные данные на период проверки информации и до момента внесения необходимых корректировок.</p>

      <p>5.4 Право на блокирование и удаление ваших персональных данных.
      Если вы считаете, что какие-то из ваших персональных данных мы обрабатываем неправомерно, пожалуйста, сообщите нам об этом
      При получении таких запросов мы:<br>
      - проводим проверку поступивших сообщений;<br>
      - при необходимости, блокируем данные на период проверки;<br>
      - при подтверждении информации о неправомерности обработки – удаляем данные.<br>
      Если мы не сможем удалить ваши персональные данные незамедлительно, мы блокируем их на срок до 6 (шести) месяцев (как это предусмотрено часть 6 статьи 21 Закона о персональных данных),
      и уничтожаем их не позднее этого срока.</p>

      <p>5.5 Право на отзыв согласия на обработку персональных данных.
      Чтобы отозвать согласие на обработку персональных данных вам нужно направить заявление на отзыв согласия на обработку персональных данных.<br>
      Форму заявления можно запросить у сотрудников службы поддержки Сервиса. Также заявление на отзыв согласия на обработку персональных данных может быть составлено в свободной и удобной для вас форме.
      Заявление на отзыв согласия должно содержать следующую информацию:<br>
      - ваши фамилию, имя и отчество;<br>
      - номер телефона и адрес электронной почты (как указаны в личном кабинете на Сервисе);<br>
      - вашу подпись.<br>
      Заявление на отзыв согласия на обработку персональных данных может быть направлено одним из следующих способов: <br>
      - по нашему контактному номеру  +7 (347) 272-17-28 и по этому же номеру направив нам запрос на WhatsApp <br>
      После получения заявления на отзыв согласия на обработку персональных данных, в течение 10 (десяти) рабочих дней мы прекратим обработку ваших персональных данных для целей, указанных в согласии, и уничтожим эти данные. Если мы не сможем удалить ваши персональные данные незамедлительно, мы блокируем их на срок до 6 (шести) месяцев (как это предусмотрено часть 6 статьи 21 Закона о персональных данных), и уничтожаем их не позднее этого срока. Обратите внимание, несмотря на отзыв согласия, мы можем продолжить обработку ваших персональных данных, если у нас есть иные правовые основания для такой обработки.</p>

      <p>5.6 Запрос дополнительной информации.<br>
      Отказ удовлетворения требований при получении от вас запросов, связанных с реализацией ваших прав, предоставленных Законом
      о персональных данных, либо по иным вопросам, связанным
      с обработкой персональных данных, в исключительных случаях мы можем попросить вас предоставить дополнительную информацию (например, чтобы уточнить ваш запрос и выполнить его корректно, чтобы идентифицировать вас, если по каким-то причинам мы не можем сделать это на основе предоставленной информации).
      Обратите внимание, в случае вашего отказа предоставить дополнительную информацию по нашему запросу, мы не сможем реализовать ваши права, если такая информация необходима для их корректной реализации, либо можем обработать ваш запрос некорректно / предоставить вам информацию не в полном объеме.
      Мы вправе отказать в реализации ваших прав, либо ограничить объем наших обязательств по их реализации, если:<br>
      - вы направите запрос в форме и по содержанию, не соответствующий требованиям Закона о персональных данных и/или Политики, если установлена специальная форма для таких запросов;<br>
      - это предусмотрено требованиями законодательства (например, об оперативно-розыскной деятельности, противодействии легализации денежных средств и т. д.).</p>

      <p>5.7 Сроки обработки ваших запросов<br>
      Запросы, связанные с реализацией ваших прав, мы обрабатываем
      и выполняем в установленные Законом о персональных данных сроки: не позднее 10 (десяти) рабочих дней (если иной срок не предусмотрен действующим законодательством) с момента получения такого
      запроса.Срок на обработку запроса, связанного с реализацией ваших прав, может быть продлен нами на 5 (пять) рабочих дней.
      При возникновении такой необходимости мы уведомим вас, указав причины продления срока.Иные запросы, связанные с Политикой
      и обработкой данных в интернет-магазине, мы обрабатываем
      в зависимости от текущей загруженности службы поддержки интернет-магазина. При необходимости консультации со внутренними специалистами наше компании для предоставления корректного ответа на запрос, срок ответа может быть увеличен, о чем мы вас предварительно уведомим.</p>
    `
  }

  const cookie = () => {
    return `
        <p>Время от времени мы можем вносить изменения в Политику. Если изменения будут существенными и будут оказывать влияние на ваши права, мы обязательно уведомим вас об этом любым доступным способом. Новая версия Политики вступает в силу с момента ее публикации в интернет-магазине (если иное не предусмотрено новой редакцией Политики). Вы сможете отказаться от принятия соответствующих изменений, прекратив использование интернет-магазина.</p>
      `
  }

  const security = () => {
    return `
      <p>Cookie-файлы – это небольшие текстовые файлы, которые хранятся
      на устройстве, которое вы используете для взаимодействия
      с Сервисом, и хранят информацию о вашей активности в Интернете.</p>

       <p>Мы используем cookie-файлы, чтобы обеспечить корректность работы Сервиса: например, чтобы информация на экране вашего устройства подстраивалась под его разрешение, чтобы вам не приходилось каждый раз авторизовываться в интернет-магазине; если вы решите вернуться к его использованию после небольшого перерыва на устройстве, на котором вы уже авторизовались; мы могли корректно сохранять заполненную вами информацию
      в личном кабинете отказаться от всех cookie-файлов, вам нужно изменить технические настройки браузера, либо вашего устройства (если это позволяет сделать операционная система), которые вы используете для взаимодействия с интернет-магазином.
      Обратите внимание, при отказе от использования cookie-файлов некоторые функции интернет-магазина могут быть недоступны для использования.</p>

      <p>Мы также можем использовать аналитические сервисы для сбора статистических и технических данных, связанных с использованием вами интернет-магазина, и их последующей аналитики (например, сведений о частоте посещения интернет-магазина, просмотренных страницах, сайтах, с которых вы перешли в наш интернет-магазин, использованные поисковые слова, сведения о времени, проведенном в интернет-магазине и др.).
      До начала использования интернет-магазина просим вас самостоятельно ознакомиться с политиками конфиденциальности указанных систем.
      Мы оставляем за собой право в любой момент прекратить использовать какие-либо из систем сбора статистических
      и технических данных, а также начать использовать какие-либо иные подобные системы.</p>
    `
  }

  const policyChanges = () => {
    return `
      <p>Время от времени мы можем вносить изменения в Политику. Если изменения будут существенными и будут оказывать влияние на ваши права, мы обязательно уведомим вас об этом любым доступным способом. Новая версия Политики вступает в силу с момента ее публикации в интернет-магазине (если иное не предусмотрено новой редакцией Политики). Вы сможете отказаться от принятия соответствующих изменений, прекратив использование интернет-магазина.</p>
    `
  }

  const generalInformation = () => {
    return `
      <p>Ювелирцентр следит не только за качеством своей продукции. Кроме этого, мы стремимся к тому, чтобы наши изделия соответствовали потребностям каждой женщины, подчеркивали ее красоту и характер.
      Мы используем бриллианты классической круглой формы с 57
      гранями. Самое важное в бриллиантах - это вид и качество огранки, поэтому помимо классики Ювелирцетр обращается к форме сердца
      и овала.</p>
      <img src="img/content/content-img.svg" alt="Брилиант">
    `
  }

  const diamondWeight = () => {
    return `
        <p>Вес бриллиантов измеряется в каратах (1 карат = 200 миллиграмм). Однако вес бриллианта - не единственная составляющая его стоимости. Важны также диаметр и высота камня (смотреть).
        Для камней от 0,30 до 0,99 карата используется огранка КР-57.
        Это значение показывает количество граней в бриллианте (например, огранка КР- 57 говорит о том, что в бриллианте 57 граней).</p>
      `
  }

  const clarityOfDiamonds = () => {
    return `
          <p>Бриллианты без дополнительных элементов и внешних недочетов считаются бриллиантами чистоты 1. Такие камни встречаются редко
          и оцениваются очень высоко. У каждого бриллианта есть своя шкала чистота (смотреть). Большая часть алмазов обладает различными природными включениями. Из-за этого свет, падающий на камень, рассеивается и снижает блеск алмаза.</p>
        `
  }

  const colorAndShade = () => {
    return `
            <p>Бриллианты могут быть разных цветов, с разной степенью насыщенности. Всего насчитывается около 27 оттенков. Голубой, розовый и изумрудно-зеленый считаются самыми редкими.
            По генеалогическим таблицам, утвержденным Российской Федерацией, бриллиантам присваивается свой цвет. (смотреть).
            Ювелирцентр применяет только бесцветные и коньячные
            обработанные алмазы.</p>
          `
  }

  const qualityCheck = () => {
    return `
            <p>Перед тем , как попасть на витрины, каждое украшение тщательно осматривается командой геммологов, которые работают на основе стандартов Госхран РФ*.

            <span>Государственное учреждение по формированию Государственного фонда драгоценных металлов и драгоценных камней Российской Федерации, хранению, отпуску и использованию драгоценных металлов и драгоценных камней при Министерстве финансов РФ</span>*</p>
          `
  }

  const goodsOfProper = () => {
    return `
              <p>1. Товары надлежашего качества
              Возврат ювелирных изделий из драгоценных металлов и/или
              с драгоценными камнями, а также ювелирных или стальных часов надлежащего качества осуществляется в случае, если изделие приобретено дистанционным способом (исключающим возможность непосредственного ознакомления покупателя с товаром до момента выдачи чека), а обращение с требованием о возврате заявлено на месте осмотра и получения (приобретения) при условии сохранения товарного вида и маркировки изделия (сохранены пломбы и бирки). Покупки, совершённые в офлайн-магазине, возврату и обмену не подлежат (согласно Постановлению Правительства РФ от 31.12.2020
              № 2463).</p>

              Правила возврата товара надлежащего качества:
              <ul>
                <li>- Позвонить по номеру 8 800 550 44 48 (звонок бесплатный)
                      и уточнить все детали возврата.</li>
                <li>- Скачать и заполнить заявление о возврате.</li>
                <li>- Отправить приобретенный товар и оригинал заявления на возврат. При отправлении товара при себе иметь: документ удостоверяющий личность, номер транспортной накладной, оригинал заполненного заявления на возврат. ВАЖНО! В заявлении требуется указать данные покупателя, который совершал оплату товара и которому будет производиться возврат средств. Владелец банковского счёта, на который будут перечислены денежные средства, должен совпадать с заявителем.</li>
                <li>- Возврат денежных средств за указанные изделия осуществляется
                      в течение 10 (десяти) рабочих дней с момента получения
                      изделий продавцом.</li>
              </ul>
            `
  }

  const goodsOfInadequate = () => {
    return `
        Для осуществления обмена или возврата товара ненадлежащего качества в течение гарантийного срока покупатель обязан направить по адресу электронной почты Ювелирцентра market007yuvc@yandex.ru следующие документы:
        <ul>
          <li>- Фото товара ненадлежащего качества с указанием дефектов
                (на фото должен просматриваться дефект).</li>
          <li>- Заполненное заявление на возврат (в электронном виде или скан/фото распечатанного документа). ВАЖНО! В заявлении требуется указать данные покупателя, который совершал оплату товара
                и которому будет производиться возврат средств.
                Владелец банковского счёта, на который будут перечислены денежные средства,  должен совпадать с заявителем.</li>
          <li>- Скан или фото паспорта покупателя.</li>
          <li>- Срок рассмотрения заявки, направленной на электронную почту – 10 рабочих дней.</li>
        </ul>
        <p>
          После проверки заявки на возврат товара ненадлежащего качества
          на вашу электронную почту будет выслан бланк транспортной компании, по которому потребуется отправить товар в упаковке, обеспечивающей сохранность товара (упаковку обеспечивает отправитель), а также оригинал заявления на возврат с подписью отправителя. После получения товара, в отношении которого покупателем заявлена претензия, продавец может произвести технологическое исследование. На основании результатов такого технологического исследования продавец принимает решение
          об удовлетворении заявленной претензии или о её отклонении, о чём сообщает покупателю с указанием причин. В случае отклонения претензии покупатель вправе самостоятельно получить товар,
          в отношении которого заявлена и отклонена такая претензия,
          по адресу:
        </p>
        <ul>
          <li>- Претензии рассматриваются продавцом при условии предоставления исчерпывающей информации, документов
                и приобретённого товара в течение 15 (пятнадцати) рабочих дней
                с даты получения товара и оригинала заявления на возврат товара.</li>
          <li>- Возврат денежных средств в случае признания претензии продавцом производится не позднее 7 (семи) рабочих дней после истечения указанного срока рассмотрения претензии.</li>
          <li>- Важно! Если после осмотра ювелирного изделия покупатель решил совершить покупку, то он признает в нем отсутствие дефектов.</li>
        </ul>
        `
  }

  const guarantee = () => {
    return `
              <p>В Ювелирцентре устанавливается гарантийный срок (6 месяцев) для всех категорий товаров.Если в течение этого срока на изделии будут обнаружены дефекты, то оно будет считаться некачественным, и тогда продавец обязан удовлетворить законные требования покупателя
              (ст. 18 Закона РФ № 2300-1 от 07.02.1992 «О защите прав потребителей»).</p>
            `
  }

  const retailStoreReturn = () => {
    return `
      <p>Согласно Постановлению Правительства РФ от 31.12.2020 № 2463 ювелирные изделия, приобретенные в оффлайн-магазинах, возврату
      и обмену не подлежат.</p>
    `
  }

  const generalProvisionsBonus = () => {
    return `
        <p>Настоящие Правила определяют условия участия в Программе лояльности "Vip-клуб Ювелирцентр" во всех розничных магазинах ООО «Ю-ЦЕНТР», а также на сайте https://uvelircentr.com/registe
        Настоящие Правила программы лояльности являются публичной офертой ООО «Ю-ЦЕНТР», адресованной всем заинтересованным лицам, на участие в программе лояльности на определенных
        в настоящих Правилах условиях, без ограничения срока для акцепта.
        Используя карту Участника Программы лояльности, Участник подтверждает, что он ознакомлен с настоящими Правилами, понял их, выражает свое безусловное согласие с настоящими Правилами
        и обязуется их выполнять. Настоящие Правила в актуальной
        и действующей редакции доступны в магазинах Оператора, на веб-сайте Оператора. Территория действия Программы лояльности: все розничные магазины ООО «Ю-ЦЕНТР», а также веб-сайт Оператора https://uvelircentr.com</p>
      `
  }

  const termsAndDefinitions = () => {
    return `
          <ul>
            <li>2.1 Программа лояльности "Vip-клуб Ювелирцентр" (Программа, ПЛ) – комплекс взаимосвязанных действий и мероприятий, предоставляющих возможность Участникам получать Привилегии при покупке товаров и/или услуг Оператора и совершении иных действий
            в рамках ПЛ при соблюдении условий, установленных ПЛ.</li>
            <li>2.2 «Правила ПЛ» – публичная оферта, описывающая порядок работы ПЛ, условия участия в ПЛ и условия получения Привилегий по ПЛ.</li>
            <li>2.3 «Оператор» —ООО «Ю-ЦЕНТР» (ИНН 0276971289, ОГРН 1220200032744) Адрес: 450105, Республика Башкортостан, г. Уфа, ул. Академика Королева, д. 27, пом. 7, юридическое лицо, обладающее исключительными правами управления и развития Программы, являющееся стороной всех сделок по накоплению и списанию Бонусов в Программе.</li>
            <li>2.4 «Участник ПЛ» (Участник) — физическое лицо, покупатель магазинов Оператора, являющееся держателем Карты
            и подтвердившее своё согласие на участие в Программе путём принятия оферты (Правил) в соответствии с Правилами.</li>
            <li>2.5 «Карта Участника ПЛ» (Карта) — виртуальная карта без физического носителя, служащая для идентификации Участника в Программе, авторизации Участника при приобретении товаров и/или услуг
            у Оператора, полученная и активированная Участником в соответствии с настоящими Правилами, позволяющая Участнику списывать
            и накапливать Бонусы, получать Привилегии в соответствии
            с настоящими Правилами, а также совершать иные действия в рамках Программы. Срок действия Карты - ограничен сроком действия Программы или Решением Оператора.</li>
            <li>2.6 «Привилегия» — право приобретения товаров и/или услуг Оператора с финансовой или нефинансовой выгодой. Доступ
            к Привилегиям определяется Статусом Участника. Привилегии могут быть реализованы методом отложенной скидки - начисления Бонусов на Счёт Участника в обмен за выполнение определённых условий ПЛ
            и последующего расходования Участником накопленных Бонусов на товары и/или услуги Оператора одним из способов:</li>
            <li>a) получение скидки на оплату товаров и/или услуг Оператора в момент совершения покупки по курсу обмена Бонусов на 1 рубль скидки, установленному настоящими Правилами;</li>
            <li>b) получение скидки на оплату товаров и/или услуг Оператора
            с предоставлением Купона или Промокода, полученного ранее.</li>
            <li>2.7 «Статус участия в Программе (Статус)» — уровень участия
            в Программе, присваиваемый Участнику за сумму покупок, совершенных Участником в установленный промежуток времени.</li>
            <li>2.8 «Бонусы» — виртуальные условные единицы, рассчитывающиеся
            в рублях, служащие для поощрения Участника, являющиеся инструментом для предоставления Участнику Привилегий. Бонусы начисляются Оператором на Счёт Участника при выполнении Участником определенных Правилами условий и/или при наличии
            у Участника определенного статуса в рамках ПЛ. Сумма начисленных Бонусов может быть использована Участником для получения Привилегий в соответствии с настоящими Правилами. Бонусы
            не являются денежными единицами, обмену на денежные средства
            не подлежат, а используются только в рамках Программы
            в соответствии с ее условиями.</li>
            <li>2.9 «Бонусный Счёт Участника ПЛ» (Счёт) — виртуальный, нефинансовый счет, открываемый Оператором в своей информационной системе (системе Программы) на имя Участника
            в соответствии с настоящими Правилами, для хранения информации
            об Участнике, количестве начисленных/списанных бонусов и текущем бонусном балансе. Бонусы начисляются на Счёт и списываются с него в соответствии с Правилами. Информация об операциях начисления на Счёт и списания со Счёта бонусов, актуальном состоянии Счёта доступна Участнику в чеке и в Личном кабинете после совершения покупки с предъявлением номера мобильного телефона.</li>
            <li>2.10 «Начисление Бонусов» – операция увеличения числа Бонусов
            на Счёте Участника в результате выполнения Участником отдельных правил/условий, установленных ПЛ, указанных в пункте 4 настоящих Правил.</li>
            <li>2.11 «Списание Бонусов» – операция уменьшения числа Бонусов
            на Счёте Участника в результате обмена, определенного Правилами ПЛ количества Бонусов на предоставление Привилегии, обусловленная выполнением Участником отдельных правил ПЛ, указанных в пункте 5 настоящих Правил.</li>
            <li>2.12 Личный кабинет» (ЛК) - раздел на сайте Оператора, предназначенный для Участника, с ограниченным доступом. Доступ
            к контенту Личного кабинета предоставляется по результату процедуры авторизации Участника. Личный кабинет транслирует персональную информацию Участника, включая контактную информацию, состояние Счёта Участника, персональные предложения для Участника, но не ограничиваясь ими.</li>
            <li>2.13 «Код подтверждения» - код, который предоставляется Участнику для подтверждения совершения Участником определённых действий
            в Программе.</li>
            <li>2.14 «Слип ПЛ» (Слип) – документ на бумажном носителе, который содержит информацию о проведённой операции с использованием Карты.</li>
            <li>2.15 «Веб-сайт Оператора ПЛ» - сайт в сети Интернет https://uvelircentr.com, на котором размещен текст настоящих Правил
            в актуальной и действующей редакции, а также другая информация
            о ПЛ.</li>
            <li>2.16 «Акция» (Рекламная акция) – мероприятие, проводимое Организатором или совместно с Агентом/Партнерами, в рамках Программы, с целью привлечения новых Участников, стимулирования спроса существующих Участников, рассчитанное на определенный период времени и/или географию действия и/или перечень товаров, целью которого является формирование и увеличение лояльности Участников к Программе “Ювелирцентр”. В ходе проведения Акции Организатор вправе зачислять отдельным Участникам дополнительные Бонусы за выполнение ими определенных условий. При этом порядок зачисления и списания Бонусов может отличаться
            от описанного в настоящих Правилах. Полные условия каждой Акции публикуются на официальном сайте https://uvelircentr.com. Принимая участие в Акции, Участник выражает свое согласие
            с условиями Акции.</li>
          </ul>
        `
  }

  const test1 = () => {
    return `
          <p>Настоящие Правила определяют условия участия в Программе лояльности "Vip-клуб Ювелирцентр" во всех розничных магазинах ООО «Ю-ЦЕНТР», а также на сайте https://uvelircentr.com/registe
          Настоящие Правила программы лояльности являются публичной офертой ООО «Ю-ЦЕНТР», адресованной всем заинтересованным лицам, на участие в программе лояльности на определенных
          в настоящих Правилах условиях, без ограничения срока для акцепта.
          Используя карту Участника Программы лояльности, Участник подтверждает, что он ознакомлен с настоящими Правилами, понял их, выражает свое безусловное согласие с настоящими Правилами
          и обязуется их выполнять. Настоящие Правила в актуальной
          и действующей редакции доступны в магазинах Оператора, на веб-сайте Оператора. Территория действия Программы лояльности: все розничные магазины ООО «Ю-ЦЕНТР», а также веб-сайт Оператора https://uvelircentr.com</p>
        `
  }

  const accrualOfBonuses = () => {
    return `
      <ul>
        <li>4.1 Бонусы за покупку начисляются на Счёт Участников.</li>
        <li>4.2 Бонусы начисляются на Бонусный Счет Участника Программы при совершении покупок товаров для личных нужд, не связанных
          с предпринимательской деятельностью, в магазинах "Ювелирцентр"
          с применением номера телефона или мобильного приложения Участника в соответствии с Правилами Программы Условиями проводимой акции.</li>
        <li>4.3 Для начисления Бонусов за покупку у Организатора и в магазинах, утвержденных Организатором, Участник должен уведомить Организатора/соответствующий магазин непосредственно перед совершением покупки или получением услуги о том, что покупка товара или оказание услуги осуществляется в рамках Программы, путем предоставления своего номера телефона (указанного при регистрации личного кабинета) как идентификатора личного кабинет. Организатор не несет ответственности за не начисление Бонусов в том случае, если Участник не известил о том, что покупка сделана в рамках Программы и не назвал номер телефона, на который зарегистрирован личный кабинет.</li>
      </ul>
    `
  }

  const writeOffBonusesExchange = () => {
    return `
          <ul>
            <li>5.1 Участник, накопивший Бонусы на своем Счёте, вправе получить Привилегию с одновременным списанием Бонусов со Счёта Участника в соответствии с настоящими Правилами.</li>
            <li>5.2 Для списания Бонусов Участник должен уведомить Оператора
            о намерении воспользоваться накопленными им Бонусами для предоставления Оператором Привилегий, в отношении которых происходит списание Бонусов в рамках Программы, непосредственно перед совершением обмена Бонусов на Привилегии. Обмен в рамках Программы сопровождается предъявлением номера мобильного телефона Участника.</li>
            <li>5.3 Количество Бонусов за запрошенную Участником Привилегию будет списано со Счёта Участника перед получением Привилегии, при этом Бонусы, начисленные ранее, списываются в первую очередь.</li>
            <li>5.4 Бонусы доступны для списания (активируются) на следующий день после начисления и доступны для списания в течение 12 месяцев
            с момента их активации. Если по истечение данного срока Бонусы не были списаны Участником на получение Привилегии, они будут списаны (аннулированы) со Счёта Участника в безусловном порядке.</li>
            <li>5.5 При получении Привилегии в виде скидки на оплату товаров и/или услуг Оператора в момент совершения покупки курс обмена Бонусов на 1 рубль скидки принимается следующий: 1 Бонус= 1 рубль скидки. Курс обмена Бонусов на 1 рубль скидки может быть изменён Оператором с внесением соответствующих изменений в настоящие Правила и размещением обновлённых Правил на веб-сайте Оператора, в магазинах Оператора.</li>
            <li>5.6 При получении Привилегии в виде скидки на оплату товаров и/или услуг Оператора в момент совершения покупки Участник может частично использовать Бонусы, находящиеся на его Счёте. Минимальный размер скидки определяется акцией и доступным количеством бонусов на Счете участника. Максимальный размер предоставляемой скидки определяется Статусом Участника:</li>
            <li>5.7 Получение Привилегии в виде скидки на оплату товаров и/или услуг не распространяется на товар и/или услуги участвующие в акциях, если иное не предусмотрено условием акции.</li>
            <li>5.8 Если давность последней покупки, совершенной Участником
            в магазине Оператора, превышает 12 месяцев, Бонусы, полученные
            за данную покупку и находящиеся на Счёте Участника, будут списаны (аннулированы) со Счёта в безусловном порядке.</li>
            <li>5.9 Бонусы не списываются за покупку подарочных сертификатов, при оплате с оформлением рассрочки или кредита.</li>
            <li>5.10 В случае возникновения у Участника вопросов, связанных
            с правильностью получения Привилегий в рамках Программы, или если Привилегия не была предоставлена по техническим причинам, Участник может направить Оператору соответствующую претензию
            с указанием Ф.И.О. Участника и номера телефона, адреса для получения обратной связи в течение 21 рабочего дня с момента получения Привилегии либо совершения покупки товаров и/или услуг Оператора без предоставления Привилегии по техническим причинам. Претензия должна сопровождаться документом, подтверждающим факт получения либо неполучения Привилегии при наличии оснований для предоставления Привилегии. Такими документами могут являться чек/копия чека Оператора и Слип/копия Слипа. Претензия может быть отправлена по почте. В случае соблюдения всех условий оформления претензии Оператор обязуется рассмотреть претензию и отправить Участнику ответ в течение 30 рабочих дней с момента получения претензии.</li>
            <li>5.11 Восстановление бонусов: Бонусы подлежат возврату на счет Участника при возврате денежных средств за некачественный товар.</li>
          </ul>
        `
  }

  const memberStatus = () => {

    return `
      <p>6.1 Статус Участника определяется значениями показателей суммы или количества покупок, совершённых Участником, отсчитываемых назад на момент перерасчёта статуса. При этом из возможных Статусов Участнику присваивается максимальный, для которого достигнуто пороговое значение хотя бы для одного показателя. Пороговые значения показателей приведены в таблице:</p>
      <ul>
        <li>6.2 Перерасчёт Статуса происходит 2 числа каждого месяца.</li>
        <li>6.3 Статус Участника определяет доступ к Привилегиям.</li>
        <li>6.4 Условия достижения Статуса могут быть изменены Оператором
        с внесением соответствующих изменений в настоящие Правила
        и размещением обновлённых Правил на веб-сайте Оператора,
        в магазинах Оператора.</li>
      </ul>
    `
  }

  const otherConditions = () => {
    return `
      <ul>
        <li>7.1 Оператор по своему усмотрению вправе в одностороннем порядке вносить любые изменения в настоящие Правила в любое время. Срок уведомления об изменении Правил Программы лояльности компания оставляет на свое усмотрение. Вступление в силу соответствующих изменений (срок уведомления) осуществляется путем размещения соответствующей информации на Веб-сайте Оператора ПЛ - https://uvelircentr.com</li>
        <li>7.2 Продолжение осуществления Участником любых действий, связанных с участием в Программе, после публикации на веб-сайте Оператора измененных Правил является акцептом оферты (изменения её условий). В этом случае Участник считается акцептовавшим Правила в новой измененной редакции путем совершения конклюдентных действий. Оператор также оставляет за собой безусловное право вносить любые изменения и в любое время и исключительно по их усмотрению в перечень товаров и услуг, в отношении которых начисляются Бонусы, и изменять количество Бонусов, которое Участники получают в результате приобретения таких товаров и услуг, список и доступность Привилегий для каждого Участника. Срок уведомления об изменении Правил Программы лояльности компания оставляет на свое усмотрение. Вступление в силу соответствующих изменений (срок уведомления) осуществляется путем размещения соответствующей информации на Веб-сайте Оператора ПЛ - https://uvelircentr.com</li>
        <li>7.3 Оператор оставляет за собой право приостановить или прекратить Программу в любое время с уведомлением Участника за один месяц. Оператор не несёт ответственности за приостановку или прекращение Программы в отношении любого Счёта Участника, включая, но не ограничиваясь, ответственностью за Бонусы на Счёте Участника
        в момент приостановки или прекращения Программы.</li>
        <li>7.4 Ответственность Оператора в отношении предоставляемых
        в рамках Программы товаров и услуг и соответствующие гарантийные обязательства ограничены требованиями законодательства РФ.</li>
        <li>7.5 Уведомление о прекращении или приостановке действия Программы считается сделанным от имени Оператора Участнику, если оно было размещено на Веб-сайте Оператора https://uvelircentr.com</li>
        <li>7.6 Участники, принимающие участие в специальных предложениях
        и акциях Программы, должны ознакомиться с правилами данных предложений и акций на Веб-сайте Оператора (https://uvelircentr.com) и следовать им.</li>
        <li>7.7 С прочими Правилами, не включенными в данные Правила, можно ознакомиться на специальных разделах Программы на сайте Оператора.</li>

      </ul>
            `
  }

  const programDisputeResolution = () => {
    return `
        <ul>
          <li>8.1. Правила Программы и вытекающие из них правоотношения Оператором и Участников регулируются законодательством Российской Федерации.</li>
          <li>8.2. В случае, если спор между Оператором и Участником не может быть разрешен в соответствии с настоящими Правилами, он разрешается в соответствии с действующим законодательством РФ.</li>
        </ul>
      `
  }
