include ./constans.pug
include ./functions-accordion.pug

include ./layout-mixin/main.pug
include ./layout-mixin/catalog.pug
include ./layout-mixin/lk.pug

include ../blocks/components/logo/logo.pug
include ../blocks/components/burger/burger.pug
include ../blocks/components/navigation/navigation.pug
include ../blocks/components/form/form.pug
include ../blocks/components/excellence/excellence.pug
include ../blocks/components/accordion/accordion.pug
include ../blocks/components/navigation-changer/navigation-changer.pug
include ../blocks/components/link-icon/link-icon.pug
include ../blocks/components/benefits/benefits.pug
include ../blocks/components/field-checkbox/field-checkbox.pug
include ../blocks/components/field-text/field-text.pug
include ../blocks/components/field-radio/field-radio.pug
include ../blocks/components/field-select/field-select.pug
include ../blocks/components/socials/socials.pug
include ../blocks/components/filter-link/filter-link.pug
include ../blocks/components/category-link/category-link
include ../blocks/components/category-tile/category-tile
include ../blocks/components/category-list/category-list
include ../blocks/components/user/user
include ../blocks/components/bonus-card/bonus-card
include ../blocks/components/nothing-found/nothing-found

include ../blocks/components/table-char/table-char

include ../blocks/components/section-content/section-content.pug

include ../blocks/project/page-footer/page-footer.pug
include ../blocks/project/page-header/page-header.pug
include ../blocks/project/main-slider/main-slider.pug
include ../blocks/project/blog-place/blog-place.pug
include ../blocks/project/collection/collection.pug
include ../blocks/project/status-table/status-table.pug
include ../blocks/project/wedding-offer/wedding-offer.pug
include ../blocks/project/mobile-menu/mobile-menu.pug
include ../blocks/project/catalog-menu/catalog-menu.pug
include ../blocks/project/lk-menu/lk-menu.pug
include ../blocks/project/lk-sub-menu/lk-sub-menu.pug
include ../blocks/project/category-filter/category-filter.pug
include ../blocks/project/promo-list/promo-list
include ../blocks/project/faq/faq
include ../blocks/project/statistics-brand/statistics-brand
include ../blocks/project/about-company/about-company
include ../blocks/project/banner/banner
include ../blocks/project/add-benefits/add-benefits
include ../blocks/project/company-banner/company-banner
include ../blocks/project/favorites/favorites

include ../blocks/project/category-card/category-card.pug
include ../blocks/project/preview/preview.pug
include ../blocks/project/promo/promo.pug
