// В этом файле должны быть стили для БЭМ-блока field-radio, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$line-height:                 1.5 !default;

.field-radio {

  $block-name:                &; // #{$block-name}__element

  display: block;
  //margin-bottom: 1rem

  &__name-text {
    display: inline-block;

    // своя радиокнопка с картинкой

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 5px;
    //   left: 0;
    //   width: 14px;
    //   height: 14px;
    //   background-image: svg-load('../blocks/field-radio/bg-img/radiobutton.svg');
    //   background-size: 100%;
    // }
    // @at-root input:checked ~ &:before {
    //   background-image: svg-load('../blocks/field-radio/bg-img/radiobutton--checked.svg');
    // }

    // / своя радиокнопка с картинкой

    // своя радиокнопка без картинки

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 24px;
      height: 24px;
      box-shadow: 0 0 0 1px currentColor;
      border-radius: 50%;
      transform: translateY(-50%);
    }

    @at-root input:focus ~ &:before {
      @include field-focus;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 6px;
      width: 12px;
      height: 12px;
      opacity: 0;
      border-radius: 50%;
      background-color: currentColor;
      transition: opacity $time;
      transform: translateY(-50%);

      @at-root input:checked ~ & {
        opacity: 1;
      }
    }

    // / своя радиокнопка без картинки
  }

  &__input {
    position: absolute;
    top: 0.8em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своей радиокнопки
    opacity: 0;
  }
}

.field-radio__title {
  display: inline-block;
  margin-bottom: 20px;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular22();
  }
}

.field-radio__name {
  position: relative;
  display: inline-block;

  padding-left: 44px;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular28();
  }
}

.field-radio__input-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px 60px;

  &--row {
    flex-direction: row;
  }
}
