//.main-ident {
//  padding-bottom: 60px;
//
//  @media (min-width: $screen-xl) {
//    padding-bottom: 100px;
//  }
//}

.main-ident--order-page {
  padding-top: 40px;

  @media (min-width: $screen-xl) {
    padding-top: 0;
  }
}

.main-ident__catalog {
  display: grid;
  grid-template-columns: 90px minmax(auto, calc(100% - 90px));
  align-items: flex-start;
  height: calc(100vh - 113px);
  overflow: auto;

  @media (min-width: $screen-lg) {
    height: auto;
    overflow: visible;
    padding-top: 0;
    gap: 20px;
    grid-template-columns: auto minmax(auto, 734px);
    padding-bottom: 100px;
  }

  @media (min-width: $screen-xl) {
    gap: 40px;
    grid-template-columns: auto minmax(auto, 1354px);
    padding-bottom: 200px;
  }
}

.main-ident__content-catalog {
  @media (max-width: $screen-lg - 1) {
    padding-top: 40px;
    padding-bottom: 60px;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.main-ident__page-info {
  position: relative;
  padding-top: 40px;
  display: grid;

  @media (min-width: $screen-xl) {
    padding-top: 0;
    gap: 0 100px;
    grid-template-columns: auto minmax(auto, 1354px);
    align-items: start;
  }
}

.main-ident__title {
  @include ProximaNovaTextBuild25();
  grid-column: auto/span 2; //TODO: подумать
  margin-bottom: 30px;

  @media (min-width: $screen-lg) {
    @include MontserratBuild54();
    margin-bottom: 80px;
  }
}

.main-ident__gap-table {
  gap: 40px;
  @media (min-width: $screen-lg) {
    gap: 88px;
  }
}
