.main-ident {
  padding-bottom: 60px;

  @media (min-width: $screen-lg) {
    padding-bottom: 100px;
  }

  @media (min-width: $screen-xl) {
    padding-bottom: 200px;
  }
}

.main-ident__page-info {
  position: relative;
  display: grid;

  @media (min-width: $screen-xl) {
    gap: 0 100px;
    grid-template-columns: 491px minmax(auto, 1354px);
    align-items: start;
  }
}

.main-ident__title {
  @include ProximaNovaTextBold25();
  margin-bottom: 30px;

  @media (min-width: $screen-lg) {
    //TODO: Есть отдельный класс
    @include MontserratBuild54();
    margin-bottom: 80px;
  }
}

.main-ident__gap-table {
  gap: 40px;
  @media (min-width: $screen-lg) {
    gap: 88px;
  }
}

.main-ident__group-title {
  @include ProximaNovaTextBold19();
  padding: 0 10px;
  margin-bottom: 20px;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular36();
    padding: 0;
    font-weight: 700;
    margin-bottom: 40px;

    max-width: 1230px; // TODO: Подумать
  }
}
