mixin pay({img, text, title})
  span.pay&attributes(attributes)
    if img
      span.pay__span
        img(src=img alt=title)
    span.pay__content
      strong.pay__content-title= text
      span.pay__content-text= title
