.badge {
  @include ProximaNovaTextRegular10();
  border-radius: 4px;
  padding: 3px;

  &--dunger {
    color: $white;
    background-color: $other-red;
  }

  &--pink {
    color: $tp-black;
    background-color: $bg-pink;
  }

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular18();
    padding: 4px;
  }
}
