.count {
  @include ProximaNovaTextRegular12;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50px;

  &--pink {
    color: $white;
    background-color: $primary-pink-1;
  }
}
