.mobile-menu {
  position: fixed; //TODO: подумать
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: $primary-white;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.20), 0px 3px 14px 0px rgba(0, 0, 0, 0.12), 0px 8px 10px 0px rgba(0, 0, 0, 0.14);
}

.mobile-menu__nav-list {
  @include ul-reset;
  display: flex;
  //flex-wrap: wrap;

  overflow: auto;
}

.mobile-menu__nav-item {
  flex-grow: 1;
  text-align: center;
}

.mobile-menu__link {
  position: relative;
  width: 100%;
  padding: 10px;
  gap: 4px;
  color: $bg-gray-2;

  &.active {
    color: $black;

    .link-icon__text {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $primary-pink-1;
      }
    }
  }

  svg {
    width: 16px;
    height: 16px;
    fill: currentColor;
  }
}
