mixin status-claim
  .status-claim
    p.status-claim__text Узнать статус заказа или отменить его вы можете в личном кабинете
    a.btn.btn--dark.status-claim__btn(href=pages.lkBuy.href) Перейти в личный кабинет
