.status-claim {
  @include ProximaNovaTextRegular17;
  max-width: 662px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular32;
  }

  @media (min-width: $screen-xl) {
    @include ProximaNovaTextRegular36;
  }
}

.status-claim__text {
  margin-bottom: 16px;
  @media (min-width: $screen-lg) {
    margin-bottom: 30px;
  }
}

.status-claim__btn {
  max-width: 300px;
  width: 100%;
  background-color: transparent;
  color: $tp-black;
  @media (min-width: $screen-lg) {
    max-width: 470px;
    background-color: $bg-black;
    color: $white;
  }
}
