.link-icon {
  @include ProximaNovaTextRegular13();
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: inherit;
  text-decoration: none;


  &--top {
    flex-direction: column;
    gap: 12px;
  }

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular20();
  }
}

.link-icon__icon {
  position: relative;
}

.link-icon__svg {
  fill: transparent;
  width: auto;
  height: auto;
}

.link-icon__count {
  position: absolute;
  right: -11px;
  top: -11px;
}
