.order-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.order-page__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.order-page__title {
  @include ProximaNovaTextRegular16();
  margin-bottom: 0px;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular36();
  }
}

.order-page__btn {
  @include ProximaNovaTextRegular18();
  padding: 14.5px 30px;
  width: 100%;
  max-width: 470px;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular36();
  }
}

.order-page__text {
  max-width: 480px;
  margin: 0 auto 20px;
}

