mixin category-list({classNameGrid, list, tplContent, isTextHidden=[]})
  .category-list&attributes(attributes)
    ul.category-list__grid(class= classNameGrid)
      each item in list
        - const elemHiddenXl = !!item.sizeMd && 'd-xl-none';
        - const elemHiddenLg = !!item.sizeXs && 'd-lg-none';
        - const elemShowXl = !!item.sizeXl && 'd-none d-xl-block'
        if (!isTextHidden.includes(item.text))
          li.category-list__item(class=[elemHiddenXl, elemHiddenLg, elemShowXl])
            if(tplContent === 'category-link')
              +category-link({
                text: item.text,
                href: item.href,
              })(class=`category-link--${item.icon}`)
            if(tplContent === 'category-tile')
              +category-tile({
                href: item.href,
                text: item.text,
                src: `img/content/category-${item.icon}.jpg`
              })
