.basket-products__list {
  @include ul-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $screen-lg) {
    display: block;
  }
}

.basket-products__item {
  @media (min-width: $screen-lg) {
    padding-bottom: 40px;
    border-bottom: 1px solid $primary-pink-1;
    &:not(:first-child) {
      padding-top: 40px;
    }
  }

  @media (min-width: $screen-xl) {
    &:not(:first-child) {
      padding-top: 20px;
    }
  }
}
