-
  const cities = [
    "Агидель",
    "Иглино",
    "Месягутово",
    "Салават",
    "Аша",
    "Исянгулово",
    "Москва",
    "Сочи",
    "Бавлы",
    "Ишимбай",
    "Мраково",
    "Старобалтачево",
    "Белебей",
    "Кармаскалы",
    "Мытищи",
    "Стерлитамак",
    "Бирск",
    "Киргизмияки",
    "Набережные челны",
    "Толбазы",
    "Большеустьикинск",
    "Красногорск",
    "Наро-фоминск",
    "Туймазы",
    "Бугульма",
    "Красноусольск",
    "Нефтекамск",
    "Уфа",
    "Буздяк",
    "Куеда",
    "Новобелокатай",
    "Чекмагуш",
    "Верхнеяркеево",
    "Кумертау",
    "Обнинск",
    "Чишмы",
    "Вешки",
    "Лениногорск",
    "Октябрьский",
    "Янаул",
    "Давлеканово",
    "Мелеуз",
    "Подольск",
    "Дюртюли",
    "Менделеевск",
    "Приютово",
    "Елабуга",
    "Мензелинск",
    "Раевский",
  ]

mixin modal-city()
  +modal({
    id: 'modal-city',
    title: 'Выберите город',
    btnCloseMobileLeft: true
  }).modal-city
    ul.modal-city__list
      each item in cities
        li.modal-city__item
          a.modal-city__link(href="#")= item
