.user {
  display: flex;
  align-items: center;
  text-decoration: none;

  @media (min-width: $screen-lg) {
    display: block;
    text-align: center;
  }
}

.user__img {
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 50px;
  background-color: $bg-gray-2;

  color: initial;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: $screen-lg) {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
  }
}

.user__info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $screen-lg) {
    gap: 20px;
  }
}

.user__name {
  @include ProximaNovaTextRegular22();
  margin-bottom: 0;
  color: initial;
}

.user__status-text {
  @include ProximaNovaTextRegular22();
  margin-bottom: 0;
  color: initial;

  @media (min-width: $screen-lg) {
    color: $tp-grey;
  }
}

