.main-slider {
  width: 100%;

  .swiper-pagination {
    display: flex;
    justify-content: center;
    bottom: 30px;

    @media (min-width: $screen-xl) {
      bottom: 25px;
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    transition: $time;
    background-color: $white;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: #F75394;
  }
}

.main-slider__link {
  display: block;
  width: 100%;

  img {
    width: 100%;
  }
}
