.category-filter {
  //padding: 0 10px;

  &--material {
    @media (min-width: $screen-xl) {
      padding-right: 33px;
    }
  }

  &--jeweler {
    @media (min-width: $screen-lg) {
      padding-right: 60px;
    }

    @media (min-width: $screen-xl) {
      padding-right: 0px;
    }
  }
}

.category-filter__title {
  @include ProximaNovaTextRegular16();
  margin-bottom: 21px;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular32();
    margin-bottom: 42px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 57px;
  }
}

.category-filter__grid {
  @include ul-reset;
  //display: flex;
  //flex-wrap: wrap;
  gap: 30px 20px;
  //gap: 30px 0;

  @media (min-width: $screen-lg) {
    gap: 50px 45px;
    //gap: 50px 0;
  }

  @media (min-width: $screen-xl) {
    //gap: 57px 0;
    gap: 57px 0;
  }
}

.category-filter__item {
  //flex: 0 0 auto;
  //width: 50%;
  //
  //@media (min-width: $screen-md) {
  //  width: 16.66666667%;
  //}
  //
  //@media (min-width: $screen-xl) {
  //  width: 33.3333%;
  //}
}
