
mixin category-filter({list, title, classGridItem, src})
  section.category-filter&attributes(attributes)
    h2.category-filter__title= title
    ul.category-filter__grid(class=classGridItem)
      each item, i in list
        li.category-filter__item
          +filter-link({
            title: item,
            src: `${src}-${i + 1}.jpg`
          })
