.collection {
  @media (min-width: $screen-xl) {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
  }
}

.collection__grid-gap {
  grid-gap: 15px;

  border-radius: 8px;
  overflow: hidden;

  @media (min-width: $screen-lg) {
    grid-gap: 45px 24px;
    border-radius: 20px;
  }

  @media (min-width: $screen-xl) {
    gap: 16px 60px;
  }
}

.collection__title {
  text-align: center;
  margin: 0;
}

.collection__link-wrap {
  text-align: center;
  margin-top: 10px;

  @media (min-width: $screen-lg) {
    margin-top: 40px;
  }
}

.collection__content {
  height: 200px;

  @media (min-width: $screen-lg) {
    height: 622px;
  }

  @media (min-width: $screen-xl) {
    height: 500px;
  }
}
