.price {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin: 0;
}

.price--old {
  position: relative;
  color: $tp-grey;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    background-color: currentColor;
  }
}
