.faq__title {
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: $screen-xl) {
    margin-bottom: 60px;
  }
}

.faq__accordions {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
  gap: 20px;

  @media(min-width: $screen-lg) {
    gap: 30px;
  }

  .accordion__title {
    @include ProximaNovaTextRegular16();
    position: relative;
    font-weight: 700;
    margin-bottom: 20px;

    @media(min-width: $screen-lg) {
      @include ProximaNovaTextRegular28();
      margin-bottom: 30px;
    }
  }

  .accordion__wrapper {
    ul {
      padding-left: 20px;
    }

    @include ProximaNovaTextRegular13();
    padding-bottom: 25px;

    @media(min-width: $screen-lg) {
      @include ProximaNovaTextRegular22();
      padding-bottom: 30px;
    }
  }

  .accordion__wrapper li:not(:last-child) {
    margin-bottom: 10px;

    @media (min-width: $screen-lg) {
      margin-bottom: 20px;
    }
  }

  .accordion__element:not(:last-child) {
    border-bottom: 1px solid $primary-pink-1;
    @media (min-width: $screen-lg) {
      border-bottom: 1px solid $border-gray;
    }
  }
}
