-
  const accordionList = [
    {
      title: 'Что такое бонусная система ЮВЕЛИРЦЕНТР? ',
      tplContent: 'Совершайте покупки в Ювелирцентре и получайте 10%  от суммы чека бонусными баллами. Накопленные бонусы дают возможность приобрести товар со скидкой, а также открывают доступ к специальным акциям и предложениям. Подробности начисления и списания бонусов уточняйте у сотрудников магазинов, а также по телефону горячей линии: 8-800-550-44-48.'
    },
    {
      title: 'Как получить бонусы?',
      tplContent: `
          <ul>
             <li>совершайте покупки в розничных магазинах или заказывайте украшения на сайте Ювелирцентра;</li>
             <li>получите персональную виртуальную карту;</li>
             <li>сообщайте ваш номер телефона продавцу-консультанту для начисления и списания бонусов по виртуальной карте;</li>
             <li>на виртуальную карту.</li>
          </ul>
        `
    },
    {
      title: 'Бонусы за регистрацию',
      tplContent: 'За регистрацию в нашей бонусной программе мы дарим  10 000 приветственных бонусов для будущих покупок. '
    },
    {
      title: 'Как потратить бонусы?',
      tplContent: '1 бонус = 1 рубль скидки. Скидка с использованием бонусов составляет 10% от общей суммы чека. При этом бонусы можно копить или тратить сразу после покупки, использовать их полностью или частично.'
    },
    {
      title: 'Бонусы ко дню рождения',
      tplContent: 'За 10 дней до Дня рождения покупателю начисляются 5 000 подарочных бонусов. Они будут действовать 20 дней, после чего подаренные бонусы сгорают.'
    },
    {
      title: 'Как узнать количество своих бонусов?',
      tplContent: 'В чеке после каждой покупки вы увидете, сколько бонусов было потрачено, сколько начислено и сколько бонусов осталось. Также сумму ваших бонусов вы можете посмотреть в личном кабинете официального сайта Ювелирцентра или по телефону горячей линии: 8-800-550-44-48'
    },
    {
      title: 'Что будет с бонусами, если произвести возврат товара по браку?',
      tplContent: 'При возврате товара по браку списываются бонусы, которые были начислены за его покупку. Бонусы, потраченные на его частичную оплату, будут возвращены.'
    },
    {
      title: 'Сколько будут действовать бонусы?',
      tplContent: 'Бонусы можно потратить в любое время. Однако, если они не использовались в течение года, произойдет их списание.'
    },
    {
      title: 'Для чего нужны контактные данные?',
      tplContent: 'Чтобы вовремя информировать наших клиентов о новых акциях и уникальных предложениях, необходима  их контактная информация. Все указанные вами сведения используются исключительно в рамках бонусной системы Ювелирцентра.'
    },
  ]

mixin faq
  section.faq
    h2.faq__title.title-program-bonus Популярные вопросы
    +accordion({
      list: accordionList,
      firstActive: true
    }).faq__accordions
