.lk-title {
  position: relative;
  @include ProximaNovaTextRegular22();
  margin-bottom: 0;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular32();
  }

  @media (min-width: $screen-xl) {
    @include ProximaNovaTextRegular36();
  }
}

.lk-title__link {
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
  text-decoration: none;
}
