.shop-current {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: 96px 20px 40px;
  background-color: $white;
  transition: $time;
  display: none;

  &.fancybox__content {
    display: flex;
  }

  @media (min-width: $screen-lg) {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    padding: 50px 20px;

    &.active {
      transform: translateX(0%);
    }
  }
}

.shop-current__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-grow: 1;

  @media (min-width: $screen-lg) {
    padding: 0 30px;
    gap: 40px;
  }
}

.shop-current__title {
  @include ProximaNovaTextRegular16;
  margin: 0;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular22;
  }
}

.shop-current__group {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $screen-lg) {
    max-width: 350px;
  }
}

.shop-current__address {
  @include ProximaNovaTextRegular16;
  margin: 0;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular20;
  }
}

.shop-current__date {
  @include ProximaNovaTextBold19;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular22;
    font-weight: 700;
  }
}

.shop-current__content {
  @include ProximaNovaTextRegular13;
  display: flex;
  flex-direction: column;
  gap: 4px;

  p {
    margin: 0;
  }

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular18;
  }
}

.shop-current__row {
  display: flex;
  gap: 16px;
}

.shop-current__product {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shop-current__date {
  @include ProximaNovaTextBold19;
  margin: 0;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular22;
    font-weight: 700;
  }
}

.shop-current__img {
  max-width: 40px;

  @media (min-width: $screen-lg) {
    max-width: 50px;
  }
}

.shop-current__header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 14px 20px;
  min-height: 56px;
  background-color: $primary-white;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14);
  z-index: 9;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $screen-lg) {
    position: relative;
    box-shadow: none;
    min-height: inherit;
    margin-bottom: 40px;
    padding: 0 30px;
    background-color: transparent;
  }
}

.shop-current__header-title {
  @include ProximaNovaTextRegular22;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  margin: 0 auto;
  text-align: center;
  padding: 0 40px;
}

.shop-current__close {
  cursor: pointer;

  svg {
    fill: $icons-grey;

    @media (min-width: $screen-lg) {
      width: 24px;
      height: 24px;
    }
  }
}

.shop-current__back {
  cursor: pointer;

  @media (min-width: $screen-lg) {
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
