-
  const arrayCheckbox = (list, idx) => {
    let checkboxes = [];
    list.forEach((item, i) =>
      checkboxes.push({
        title: item,
        attrs: {
          name: `check-${idx}`,
          id: `label-${i}-idx-${idx}`
        }
      })
    )
    return checkboxes;
  }

mixin catalog-filter
  aside.catalog-filter&attributes(attributes)
    +form()(data-form-filter="")
      +accordionParent.catalog-filter__accordion
        each item, i in filter
          +accordionItem({
            title: item.title,
            classElement: 'catalog-filter__accordion-item is-active'
          })
            if(item.list)
              +field-checkbox({
                checkboxes: arrayCheckbox(item.list, i),
              }).catalog-filter__checkbox
            else
              +range
      +field-checkbox({
        checkboxes: [
          {
            title: 'Новинка'
          },
          {
            title: 'Изделие со скидкой'
          },
          {
            title: 'Хит'
          }
        ],
      }).catalog-filter__more
