-
  const nav = [
    {
      href: pages.catalogActions.href,
      text: "Магазины",
    },
    {
      href: pages.catalogActions.href,
      text: "Доставка",
    },
    {
      href: pages.catalogActions.href,
      text: pages.catalogActions.text
    }
  ]

mixin navigation
  nav.navigation&attributes(attributes)
    ul.navigation__list
      each item in nav
        li.navigation__item
          a.navigation__link(href=item.href)= item.text
