.line-link {
  @include ProximaNovaTextRegular10();
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  color: $other-blue;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    width: 100%;
    height: 1px;
    background-color: currentColor;

    @media (min-width: $screen-lg) {
      bottom: 3px;
    }
  }

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular22();
  }
}
