.stack {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
}

.stack--main-gap {
  gap: 40px;

  @media (min-width: $screen-lg) {
    gap: 50px;
  }

  @media (min-width: $screen-xl) {
    gap: 100px;
  }
}
