-
  const listAmount = [
    {
      label: 'Сумма за 1 товар',
      value: '100 000',
    },
    {
      label: 'Сумма со скидкой',
      value: '50 000',
    },
    {
      label: 'Скидка с учетом бонусов',
      value: '52 000',
    },
  ]

mixin total-amount
  aside.total-amount&attributes(attributes)
    ul.total-amount__list
      each item in listAmount
        li.total-amount__item
          span=item.label
          +price({
            text: item.value,
            svgWidth: 15,
            svgHeight: 15,
            icon: 1
          })
    ul.total-amount__list.total-amount__list--result
      li.total-amount__item
        span Итого
        span
          +price({
            text: '48 000',
            svgWidth: 15,
            svgHeight: 15,
          })
    +field-text({
      attrs: {
        placeholder: 'Введите промокод'
      },
    }).field-text--apply-code
      span.field-text__apply-code-btn Применить
    button.btn.btn--dark.total-amount__btn Оформить заказ
