extends pug/layout.pug

block var
  - const pageCurrent = pages.basketFilling.href;

block meta
  title= pages.basketOrderProcessed.text

block content
  +basket(true)
    .stack.basket__stack
      +order-processed
      +application
      +status-claim
