extends pug/layout.pug

block var
  //-Хедер
  - const innerPage = true;
  - const iconBack = pages.pageCategory.href;
  - const catalogTitle = "Заказ оформлен";
  //- - const headerBurger = false;

  - const pageCurrent = pages.basketFilling.href;

block meta
  title= pages.basketOrderProcessed.text

block content
  +basket(true)
    .stack.basket__stack
      +order-processed
      +application
      +status-claim
