extends pug/layout.pug

block var
  //-Хедер
  - const innerPage = true;
  - const iconBack = pages.pageCategory.href;
  - const catalogTitle = pages.basketFilling.text;
  // - const headerBurger = false;

  - const pageCurrent = pages.basketFilling.href;

block meta
  title= pages.basketFilling.text

block content
  +basket
    ul.basket-products__list
      li.basket-products__item
        +card-product({
          title: 'Кольцо золотое 585 пробы',
          textLinkSize: '16 размер',
          status: 'В наличии',
          src: 'img/content/prev-1.jpg'
        })
    +basket-bonus({})


