extends pug/layout.pug

block var
  - const pageCurrent = pages.basketFilling.href;

block meta
  title= pages.basketOrderProcessed.text

block content
  +basket(true)
    .stack.stack--main-gap
      +order-processed
      .asd
        p lorem
      +status-claim
