extends pug/layout.pug

block var
  //-Хедер
  - const innerPage = true;
  - const iconBack = pages.pageCategory.href;
  - const catalogTitle = pages.basketFilling.text;
  // - const headerBurger = false;

  - const pageCurrent = pages.basketFilling.href;

block meta
  title= pages.basketNotFound.text

block content
  .basket.basket--nothing.page__content
    .container
      +link-icon({
        icon: 'icon-arrow',
        text: "Назад",
        widthIcon: 14,
        heightIcon: 14,
      })(href=pages.index.href).link-back
    .basket__nothing-wrap
      +nothing-found("Переходи в каталог, там много красивых изделий", pages.basketNotFound.text)


