extends pug/layout.pug

block var
  - const pageCurrent = pages.basket.href;

block meta
  title= pages.basket.text

block content
  +basket
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, rerum.


