extends pug/layout.pug

block meta
  title= pages.catalogEarrings.text

block var
  //-Хедер
  - const innerPage = true;
  - const iconBack = pages.index.href;
  - const catalogSearch = true;

  - const headerClass = 'page-header--xs-mb-none';
  - const pageCurrent = pages.catalog.href;

block content
  - const reingsText = `<span class="d-none d-xl-inline-block">кольца</span>`;
  - const listRings = ["Все серьги", `Пуссеты`, `Конго`]

  +catalog({
    pageSubCatalogCurrentTitle: pages.catalogEarrings.text,
    pageSubCatalogCurrentHref: pages.catalogEarrings.href,
  })
    .category-list-prev.grid-tpl-1.grid-tpl-xl-3
      each item, i in listRings
        +promo({
          src: `img/content/catalog-jeweler/catalog-earring-${i + 1}`,
          title: item,
          hasContent: true,
          srcset: true,
        })(href="#").category-list-prev__link
