extends pug/layout.pug

block content
  - const reingsText = `<span class="d-none d-xl-inline-block">кольца</span>`;
  - const listRings = ["Все кольца", `Помолвочные ${reingsText}`, `Обручальные ${reingsText}`]

  +catalog({
    pageSubCatalogCurrentTitle: pages.catalogRings.text,
    pageSubCatalogCurrentHref: pages.catalogRings.href,
  })
    .category-list-prev.grid-tpl-1.grid-tpl-xl-3
      each item, i in listRings
        +promo({
          src: `img/content/catalog-jeweler/catalog-rings-${i + 1}`,
          title: item,
          hasContent: true,
          srcset: true,
        })(href="#").category-list-prev__link
