extends pug/layout.pug

block meta
  title= pages.catalogNew.text

block content
  -
    const listPromo = [
      "Кольца",
      "Серьги",
      "Браслеты",
      "Колье",
      "Цепи",
      "Подвески"
    ]

  +catalog({
    pageSubCatalogCurrentTitle: pages.catalogNew.text,
    pageSubCatalogCurrentHref: pages.catalogNew.href,
    categoryFilterMdHidden: true,
  })
    +main-slider({
      slidesCount: 2,
      srcNumber: 3
    }).main-slider--catalog.d-lg-none.d-xl-block
    .promo-list.d-none.d-lg-block.d-xl-none
      .promo-list__grid.grid-tpl-1
        each item, i in listPromo
          +promo({
            src: `img/content/catalog-new/catalog-new-${i + 1}.jpg `,
            title: item,
            hasContent: true,
            hasBtnLink: false
          })(href=pages.catalog.href).promo-list__link-promo
          // TODO: Проставь ссылку на фильт товара
    +category-list({
      classNameGrid: 'grid-tpl-xl-5',
      list: catalogMenulist,
      tplContent: 'category-link',
      isTextHidden: ['Акции', 'Новинки', 'Свадьба']
    }).d-none.d-xl-block
