extends pug/layout.pug

block meta
  title= pages.catalogActions.text

block var
  - const headerClass = 'page-header--xs-mb-none';
  - const pageCurrent = pages.catalog.href;

block content
  +catalog({
    catalogFilter: false,
    pageSubCatalogCurrentTitle: pages.catalogActions.text,
    pageSubCatalogCurrentHref: pages.catalogActions.href,
  })
    .promo-list
      .promo-list__grid.grid-tpl-1.grid-tpl-xl-2
        - for (let i = 1; i < 6; i++)
          +promo({
            src: `img/content/catalog-actions/action-${i}`,
            title: pages.catalogActions.text,
            hasContent: false,
            srcset: true
          })(href=pages.catalogActions.href)
