extends pug/layout-subcatalog.pug

block subCatalogVar
  - const catalogFilter = true;
  - const pageSubCatalogCurrentHref = pages.catalogChain.href;
  - const pageSubCatalogCurrentTitle = pages.catalogChain.text;
  -
    const categoryChainlist = [
      {
        text: "Все цепи",
        icon: 'main',
      },
      {
        text: "Бисмарк",
        icon: 'bismarck',
      },
      {
        text: "Лав",
        icon: 'love',
      },
      {
        text: "Ромб",
        icon: 'rhombus',
      },
      {
        text: "Якорный",
        icon: 'anchor',
      },
      {
        text: "Сингапур",
        icon: 'singapore',
      },
      {
        text: "Панцирь",
        icon: 'shell',
      },
      {
        text: "Нонна",
        icon: 'nonna',
      },
    ]

block contentSubCatalog
  .promo-list
    .promo-list__grid.grid-tpl-1.grid-tpl-xl-2
      - for(let i = 0; i < 2; i++)
        +promo({
          src: `img/content/catalog-actions/action-chain-${i + 1}`,
          title: "sad",
          srcset: true,
          hasContent: false,
        })(href="#")
  +category-list({
    classNameGrid: 'grid-tpl-2 grid-tpl-lg-4',
    list: categoryChainlist,
    tplContent: 'category-link',
    isTextHidden: ['Акции', 'Новинки', 'Свадьба']
  })
