extends pug/layout-subcatalog.pug

block subCatalogVar
  - const catalogFilter = true;
  - const pageSubCatalogCurrentHref = pages.catalogRings.href;
  - const pageSubCatalogCurrentTitle = pages.catalogRings.text;

block contentSubCatalog
  
