extends pug/layout-subcatalog.pug

block contentSubCatalog
  //TODO:Подумать над неймингом, возможно стойт оставить как есть
  +main-slider({
    slidesCount: 2,
    srcNumber: 2
  }).main-slider--catalog

