extends pug/layout.pug

block content
  - const reingsText = `<span class="d-none d-xl-inline-block">кольца</span>`;
  - const listRings = ["Все подвески", `Мусульманские`, `Православные`]

  +catalog({
    pageSubCatalogCurrentTitle: pages.catalogPendants.text,
    pageSubCatalogCurrentHref: pages.catalogPendants.href,
  })
    .category-list-prev.grid-tpl-1.grid-tpl-xl-3
      each item, i in listRings
        +promo({
          src: `img/content/catalog-jeweler/catalog-pendants-${i + 1}`,
          title: item,
          hasContent: true,
          srcset: true,
        })(href="#").category-list-prev__link
