extends pug/layout.pug

block var
  - const mainClass = 'stack gap-40 gap-md-50 gap-xl-100';
  - const pageCurrent = pages.catalog.href;
  - const sidebar = true;

block meta
  title Каталог

block sidebar
  aside Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, quisquam.

block content
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at consequatur delectus doloribus et expedita incidunt ipsam iste iure molestiae, necessitatibus nesciunt non quaerat sapiente temporibus tenetur veniam vitae voluptate? Culpa dicta dignissimos dolore dolores eum sequi tenetur vitae. Dolore magni natus qui, quis rerum saepe vel. Adipisci alias aperiam at corporis deleniti dicta, distinctio earum in ipsam libero maiores molestias natus omnis optio pariatur perferendis porro provident repudiandae sapiente tenetur, ut veritatis voluptatem. Ab animi aperiam at dolor eligendi, esse impedit laborum minus modi molestias numquam odit officiis perferendis possimus quaerat quas quis quod ratione tempore temporibus. Impedit, temporibus?
