extends pug/layout-subcatalog.pug

block subCatalogVar
  - const catalogFilter = true;
  - const pageSubCatalogCurrentHref = pages.catalogEarrings.href;
  - const pageSubCatalogCurrentTitle = pages.catalogEarrings.text;
  - const reingsText = `<span class="d-none d-xl-inline-block">кольца</span>`;
  - const listRings = ["Все серьги", `Пуссеты`, `Конго`]

block contentSubCatalog
  .category-list-prev.grid-tpl-1.grid-tpl-xl-3
    each item, i in listRings
      +promo({
        src: `img/content/catalog-jeweler/catalog-earring-${i + 1}`,
        title: item,
        hasContent: true,
        srcset: true,
      })(href="#").category-list-prev__link
