extends pug/layout.pug

block var
  - const headerClass = 'page-header--main';
  - const pageCurrent = pages.index.href;

block meta
  title= pages.index.text

block content
  +main-content({
    standartTpl: false
  }).stack.stack--main-gap.overflow
    +main-slider({})
    .container.stack.stack--main-gap
      +section-content({
        classTitle: 'main-title-montserrat section-content__title',
        title: pages.catalogActions.text
      })
      +blog-place
      +section-content({
        classTitle: 'main-title-montserrat section-content__title',
        title: "Новинки",
        link: pages.pageCategory.href
      })
      +wedding-offer
      +section-content({
        classTitle: 'main-title-montserrat section-content__title',
        title: "Успей купить",
        link: pages.pageCategory.href
      })
      +collection
