extends pug/layout.pug

block var
  //TODO: Цифры ничего не решают, создай отдельный класс на отступ
  - const mainClass = 'main-ident stack stack--main-gap';
  - const pageCurrent = pages.index.href;

block meta
  title Главная

block content
  +main().stack.stack--main-gap
    +main-slider({})
    +section-content({title: pages.catalogActions.text})
    +blog-place
    +section-content({title: "Новинки"})
    +wedding-offer
    +section-content({title: "Успей купить"})
    +collection
