extends pug/layout.pug

block var
  - const headerClass = 'page-header--main';
  - const pageCurrent = pages.index.href;

block meta
  title= pages.index.text

block content
  +main.stack.stack--main-gap
    +main-slider({})
    +section-content({title: pages.catalogActions.text})
    +blog-place
    +section-content({title: "Новинки"})
    +wedding-offer
    +section-content({title: "Успей купить"})
    +collection
