extends pug/layout.pug

block var
  //-Хедер
  - const innerPage = true;
  - const iconBack = pages.lk.href;
  - const catalogTitle = pages.lkFavorites.text;

  - const pageCurrent = pages.lkFavorites.href;
  - const pageSidebarCurrent = pages.lkFavorites.href

block meta
  title= pages.lkFavorites.text

block content
  +lk({
    pageLkCurrentHref: pageSidebarCurrent
  })
    +favorites()


