extends pug/layout.pug

block var
  - const pageCurrent = pages.lk.href;
  - const pageSidebarCurrent = pages.lkPromoCodes.href

block meta
  title= pages.lkNoPromoCodes.text

block content
  +lk({
    pageLkCurrentHref: pageSidebarCurrent
  }).page-lk--xs-main-center
    +nothing-found(pages.lkNoPromoCodes.text)
