extends pug/layout.pug

block var
  //-Хедер
  - const innerPage = true;
  - const iconBack = pages.lk.href;
  - const catalogTitle = pages.lkFavorites.text;

  - const pageCurrent = pages.lk.href;
  - const pageSidebarCurrent = pages.lkFavorites.href

block meta
  title= pages.lkNoFavorite.text

block content
  +lk({
    pageLkCurrentHref: pageSidebarCurrent
  }).page-lk--xs-main-center
    +nothing-found(pages.lkNoFavorite.text)
