extends pug/layout.pug

block var
  - const pageCurrent = pages.lk.href;
  - const pageSidebarCurrent = pages.lkReview.href

block meta
  title= pages.lkNoReview.text

block content
  +lk({
    pageLkCurrentHref: pageSidebarCurrent
  }).page-lk--xs-main-center
    +nothing-found(pages.lkNoReview.text)
