extends pug/layout.pug

block var
  - const pageCurrent = pages.lk.href;
  - const pageSidebarCurrent = pages.lkPromoCodes.href
  -
    const reviewPromoCode = [
      {
        data: 'Не использован до  31.05.2023',
        desc: 'Промокод по акции “Весенняя рулетка” '
      },
      {
        data: 'Использован  22.02.2023',
        desc: 'Промокод в честь “23 февраля”',
        lock: true
      }
    ]

block meta
  title= pages.lkPromoCodes.text

block content
  +lk({
    pageLkCurrentHref: pageSidebarCurrent
  })
    section.lk-order.lk-order--promo-code
      ul.lk-order__list
        each item in reviewPromoCode
          li.lk-order__item
            +promo-code({
              date: item.data,
              desc: item.desc,
              lock: item.lock
            })
