extends pug/layout.pug

block var
  - const pageCurrent = pages.lk.href;
  - const pageSidebarCurrent = pages.lk.href
  -
    //- TODO Вынести общий список инпутов
    const formFileldsLk = [
      {
        title: 'Фамилия',
        attrs: {
          type: 'text'
        }
      },
      {
        title: 'Имя',
        attrs: {
          type: 'text'
        }
      },
      {
        title: 'Email',
        attrs: {
          type: "email",
          "data-pristine-email-message": " "
        }
      },
      {
        title: 'Телефон',
        attrs: {
          type: 'tel',
          pattern: `/(\\+7|8)[\\s(]*\\d{3}[)\\s][\\s]\\d{3}[\\s]\\d{2}[\\s]\\d{2}/i`,
          "data-pristine-pattern-message": " "
        }
      },
    ]

block meta
  title= pages.lk.text

block content
  +lk({
    pageLkCurrentHref: pageSidebarCurrent
  })
    .box-content.page-lk__personal-data
      .box-content__form
        .box-content__width
          +bonus-card.box-content__bonus-card
        +form(action="404.html" method="POST" data-form)
          +fieldset.form__lk-fieldset.box-content__width
            each item in formFileldsLk
              +field-text({
                title: item.title,
                isTextarea: item.isTextarea,
                attrs: {
                  placeholder: item.attrs.placeholder,
                  required: true,
                  type: item.attrs.type,
                  minlength: item.attrs.minlength,
                  min: item.attrs.min,
                  pattern: item.attrs.pattern,
                  'data-pristine-required-message': " ",
                  'data-pristine-minlength-message': item.attrs['data-pristine-minlength-message'],
                  'data-pristine-min-message': item.attrs['data-pristine-min-message'],
                  'data-pristine-pattern-message': item.attrs['data-pristine-pattern-message'],
                  "data-age": item.attrs['data-age'],
                  "data-pristine-email-message": item.attrs["data-pristine-email-message"]
                }
              }).field-text--lk-input
                span.field-text__add-point +500 ББ
            +field-radio({
              radiobuttons: [
                {
                  title: 'Женский',
                  attrs: {
                    name: 'gender',
                    checked: true,
                  }
                },
                {
                  title: 'Мужской',
                  attrs: {
                    name: 'gender',
                  }
                },
              ],
              title: "Пол",
              orientationRow: true
            }).field-radio--lk-radio
            section.form__birthday
              h3.form__birthday-title Дата рождения
              .form__birthday-row
                +field-select({
                  attrs: {
                    name: 'date-birthday',
                    "data-choices-select": ""
                  },
                  options: selectData,
                }).form__birthday-date
                +field-select({
                  attrs: {
                    name: 'date-month',
                    "data-choices-select": ""
                  },
                  options: selectMonth,
                }).form__birthday-month
                +field-select({
                  attrs: {
                    name: 'date-year',
                    "data-choices-select": ""
                  },
                  options: selectYear,
                }).form__birthday-year
          +fieldset.form__lk-checked
            +field-checkbox({
              checkboxes: [
                {
                  title: 'Я даю согласие на обработку <a href="page-privacy-policy.html" target="_blank">персональных данных</a>',
                  attrs: {
                    name: 'check',
                    checked: true,
                    required: true,
                  }
                },
                {
                  title: 'Я подтверждаю согласие на получение сообщений рекламного характера. Отказаться от рассылки можно в личном кабинете.',
                  attrs: {
                    name: 'check',
                    required: true,
                  }
                },
              ]
            }).form__field-checkbox
          .box-content__width.form__center
            button.btn.btn--dark.form__lk-btn(disabled, data-form-btn) Сохранить


