extends pug/layout.pug

block var
  - const headerClass = 'page-header--main';
  - const pageCurrent = pages.lk.href;

block meta
  title= pages.lk.text

block content
  +main-content({
    standartTpl: false
  }).stack.stack--main-gap

