extends pug/layout.pug

block var
  - const pageCurrent = pages.pageDiamond.href;
  - const pageMainTitle = pages.pageDiamond.text;
  -
    const listPageDiamonds = [
      {
        title: "Общие сведения",
        tplContent: generalInformation()
      },
      {
        title: "Вес бриллиантов",
        tplContent: diamondWeight()
      },
      {
        title: "Чистота бриллиантов",
        tplContent: clarityOfDiamonds()
      },
      {
        title: "Цвет и оттенок",
        tplContent: colorAndShade(),
      },
      {
        title: "Проверка качества",
        tplContent: qualityCheck(),
      },
    ]

block meta
  title= pageMainTitle

block content
  +main.main-ident
    .container
      h1.main-ident__title= pageMainTitle
      .main-ident__page-info
        +navigation-changer(listPageDiamonds).d-none.d-xl-block
        +accordion({
          list: listPageDiamonds,
          count: true,
          classElement: 'is-active',
          scrollId: true,
        }).accordion--text-content.text-content(data-close-inner="")
