extends pug/layout.pug

block var

block meta
  title= pages.pageBonus.text

block content
  +main.main-ident
    .stack.stack--main-gap
      +main-slider({})
      .container.stack.stack--main-gap
        section.add-benefits
          h2.add-benefits__title.title-program-bonus Дополнительные преимущества
        +faq

