extends pug/layout.pug

block var
  - const headerClass = 'page-header--xs-mb-none';
  - const pageCurrent = pages.catalog.href;
  -
    const review = [
      {
        text: 'Отличное кольцо, жене понравилось!',
        data: 'Сергей Газин, 26 октября 2022'
      },
      {
        text: 'Все понравилось',
        data: 'Андрей Назаров, 11 ноября 2022'
      },
      {
        text: 'Нежное и изящное колечко. Элегантно выглядит на руке и сразу привлекает взгляды. отлично смотрится рядом с тонким обручальным кольцом',
        data: 'Алина Кальметьева, 26 ноября 2022'
      },
      {
        text: 'Шикарное кольцо, всем рекомендую! Подарок понравился)))',
        data: 'Раиль Аккубеков, 10 декабря 2022'
      },
      {
        text: 'Влад Стогниенко, 14 января 2023',
        data: 'Прекрасное изделие'
      },
    ]

block meta
  title= pages.pageSingle.text

block content
  +main-content({
    standartTpl: false
  }).overflow
    .container
      .stack.stack--main-gap
        .product-card
          +breadcrumbs().product-card__breadcrumbs.d-none.d-lg-flex
            +breadcrumbs-item(pages.index.text, pages.index.href)
            +breadcrumbs-item(pages.catalog.text, pages.catalog.href)
            +breadcrumbs-item(pages.pageSingle.text)
          .product-card__grid
            +product-gallery()
            .product-card__content
              +complement.order-xl-1
              a.product-card__link-rewiew(href="#reviews" data-smooth-scroll="")
                +final-rating()
                span.line-link 278 отзывов
              section.product-card__supreme
                span.product-card__code.d-none.d-xl-block Артикул: 111000
                h1.product-card__supreme-title Золотое кольцо с бриллиантами
                .product-card__prices
                  +price({
                    text: '30 000',
                    svgWidth: 18,
                    svgHeight: 23,
                  }).product-card__prices-size
                  +price({
                    text: '60 000',
                    oldPrice: true,
                    svgWidth: 15,
                    svgHeight: 19,
                  }).product-card__prices-size-old
                  span.product-card__prices-sale 50%
              +size-product
        +tab-filter({
          list: [
            {
              text: 'Текущие',
              filter: 'current',
              active: true
            },
            {
              text: 'Прошлые',
              filter: 'old'
            }
          ],
        })
          ul
            li(data-filter="current")
              p 213
            li(data-filter="old")
              p lorem123213123123
        +section-content({
          classTitle: 'section-content__products-title',
          title: "Вам может понравиться",
          textLink: false
        }).section-content--single
        +section-content({
          classTitle: 'section-content__products-title',
          title: "Недавно просмотренные",
          textLink: false
        }).section-content--single
        +reviews-author(id="reviews")

