extends pug/layout.pug

block var
  - const pageCurrent = pages.pageReturn.href;
  - const pageMainTitle = pages.pageReturn.text;
  -
    const listPageDiamonds = [
      {
        title: "Товары надлежащего качества",
        tplContent: goodsOfProper()
      },
      {
        title: "Товары ненадлежащего качества",
        tplContent: goodsOfInadequate()
      },
      {
        title: "Гарантия",
        tplContent: guarantee()
      },
      {
        title: "Правила возврата в розничном магазине",
        tplContent: retailStoreReturn()
      },
    ]

block meta
  title= pageMainTitle

block content
  +main-content({
    title: pageMainTitle
  })
    .main-ident__page-info
      +navigation-changer(listPageDiamonds).d-none.d-xl-block
      +accordion({
        list: listPageDiamonds,
        count: true,
        classElement: 'is-active',
        scrollId: true,
      }).accordion--text-content.text-content(data-close-inner="")
