extends pug/layout.pug

block var

block meta
  title= pages.pageBonus.text

block content
  +main.main-ident
    .stack.stack--main-gap
      +main-slider({})
      .container.stack.stack--main-gap
        +add-benefits
        +faq
        //-TODO: Кнопка
