extends pug/layout.pug

block var
  - const pageCurrent = pages.bonusRules.href;
  - const pageMainTitle = pages.bonusRules.text;
  -
    const listPagePrivacyPolicy = [
      {
        title: "Общие положения",
        tplContent: generalProvisionsBonus()
      },
      {
        title: "Термины и определения",
        tplContent: termsAndDefinitions()
      },
      {
        title: "Условия участия в программе",
        tplContent: test1()
      },
      {
        title: "Начисление бонусов",
        tplContent: accrualOfBonuses(),
      },
      {
        title: "Списание бонусов в обмен на привилегии",
        tplContent: writeOffBonusesExchange(),
      },
      {
        title: "Статус участника",
        tplContent: memberStatus()
      },
      {
        title: "Иные условия",
        tplContent: otherConditions()
      },
      {
        title: "Разрешение споров по программе",
        tplContent: programDisputeResolution()
      }
    ]


block meta
  title= pageMainTitle

block content
  +main.main-ident
    .container
      // TODO: header-title ? (Нейминг)
      h1.main-ident__title= pageMainTitle
      .main-ident__page-info
        +navigation-changer(listPagePrivacyPolicy).d-none.d-xl-block
        +accordion({
          list: listPagePrivacyPolicy,
          count: true,
          classElement: 'is-active',
          scrollId: true,
        }).accordion--text-content.text-content(data-close-inner="")
