extends pug/layout.pug

block var

block meta
  title= pages.pageBonus.text

block content
  +main.main-ident
    .stack.stack--main-gap
      .container.d-none.d-lg-block.d-xl-none
        +link-icon({
          icon: 'icon-arrow',
          text: "Назад",
          widthIcon: 14,
          heightIcon: 14,
        })(href=pages.index.href).link-back
      +banner
      .container.stack.stack--main-gap
        +status-table
        +add-benefits
        +faq
