extends pug/layout.pug

block var
  - const headerClass = 'page-header--xs-mb-none';
  - const pageCurrent = pages.catalog.href;

block meta
  title= pages.pageSingle.text

block content
  +main-content({
    standartTpl: false
  })
    .container
      .stack.stack--main-gap
        .asd
          +breadcrumbs()
            +breadcrumbs-item(pages.index.text, pages.index.href)
            +breadcrumbs-item(pages.catalog.text, pages.catalog.href)
            +breadcrumbs-item(pages.pageSingle.text)
        +section-content({
          classTitle: 'section-content__products-title',
          title: "Вам может понравиться",
          link: false
        })
        +section-content({
          classTitle: 'section-content__products-title',
          title: "Недавно просмотренные",
          link: false
        })
