extends pug/layout.pug

block var
  - const headerClass = 'page-header--main';
  - const pageCurrent = pages.basket.href;

block meta
  title= pages.basket.text

block content
  +main-content({
    standartTpl: false
  })

