extends pug/layout.pug

block var
  - const pageCurrent = pages.pageExchange.href;
  - const pageMainTitle = pages.pageDiamond.text;
  -
    const listGold = [
      {
        label: '585°, 583°',
        value: '4860р за 1 гр'
      },
      {
        label: '999°',
        value: '8300р за 1гр'
      }
    ]
  -
    const listNoExchange = [
      {
        label: 'Подарочные сертификаты, часы, сопутствующие товары',
      },
      {
        label: 'Товары с фиксированной ценой'
      }
    ]
  -
    const listNoSale = [
      {
        label: 'По акции «При оформлении кредита без переплаты (рассрочка)»',
      },
      {
        label: 'Скидка по всем действующим акциям',
      },
      {
        label: 'Скидка по специальному сертификату',
      },
      {
        label: 'Скидки по всем действующим флаерам',
      },
      {
        label: 'Скидки по бонусам',
      }
    ]

  -
    const listAddress = [
      {
        label: 'Раевский, Коммунистическая, 94',
      },
      {
        label: 'Давлеканово, Красная площадь, 12',
      },
      {
        label: 'Куеда, Гагарина,9',
      },
      {
        label: 'Бирск, 8 марта,46',
      },
      {
        label: 'Уфа, ул. Кольцевая, 56',
      },
      {
        label: 'Стерлитамак, Худайбердина, 120',
      },
      {
        label: 'Иглино, Горького, 41',
      },
      {
        label: 'Нефтекамск, Ленина 82а',
      },
      {
        label: 'Салават, Островского, 13/32',
      },
      {
        label: 'Аша, Ленина, 14',
      },
      {
        label: 'Месягутово, Коммунистическая, 44',
      },
      {
        label: 'Уфа, Королева 27',
      },

    ]

block meta
  title= pages.pageBuying.text

block content
  +main-content({
    title: pageMainTitle
  }).text-content
    section.main-content__group
      p С "Ювелирцентром" вы легко сможете обновить свою коллекцию украшений, не тратя большие деньги на покупку новых изделий. Мы предлагаем широкий выбор современных и стильных изделий, которые добавят свежих красок в вашу жизнь!Чтобы воспользоваться нашим сервисом, достаточно принести паспорт и старые украшения, которые вы не носите, и мы предложим вам разнообразные варианты обмена. Мы заботимся о наших клиентах, поэтому обмен происходит быстро и без лишних трудностей, а цены на наши украшения доступны каждому.Не ждите долгие месяцы, пока накопятся средства для новых украшений, обратитесь к нам и получите возможность обновить свой гардероб моментально.
    .main-content__group
      .main-content__gap-table.grid-tpl-xl-2
        +table-char({
          list: listGold,
          title: 'Золото'
        })
    .main-content__group
      .main-content__gap-table.grid-tpl-xl-2
        +table-char({
          list: listNoExchange,
          title: 'Группы товаров которые не подлежат обмену',
        })
    .main-content__group
      .main-content__gap-table.grid-tpl-xl-2
        +table-char({
          list: listNoSale,
          title: 'К акции обмена не применяются следующие скидки',
        })
    section.main-content__group
      h2.main-content__group-title Воспользоваться услугой вы можете в магазинах сети "Ювелирцентр", расположенных по следующим адресам:
      .main-content__gap-table.grid-tpl-xl-2
        +table-char({
          list: listAddress,
        })
    section.main-content__group
      h2.main-content__group-title Подробные условия по скупке золота и серебра
      ul
        li 1. Приемка лома ювелирных изделий осуществляется у лиц, достигших совершеннолетнего возраста (18 лет), при наличии паспорта.
        li 2. Прием ценностей в скупку осуществляется независимо от наличия на них именников изготовителей  и оттисков государственных пробирных клейм, а памятных и юбилейных (именных) медалей - по предъявлении сдатчиком соответствующих удостоверений на право владения такими медалями.
        li 3. В скупку принимается ювелирный лом и ювелирные изделия из золотых сплавов следующих проб: 375, 500, 583, 585, 750, 900, 999; и столовое серебро 875, 925, 999.
        li 4. Скупке не подлежат:- драгметаллы в самородном и аффинированном вида, а также в сырье, сплавах, полуфабрикатах, промышленных продуктах, химических соединениях и отходах производства и потребления;- полуфабрикаты ювелирного и зубопротезного производства (кроме коронок и дисков);- изделия производственно-технического назначения из золота (пластины, проволока, контакты, лабораторная посуда  и др.) и серебра;- ордена и медали, кроме памятных и юбилейных (именных), содержащие драгоценные металлы; изделия, содержащие драгоценные металлы, изъятые из гражданского оборота или ограниченные  в обороте (холодное, огнестрельное оружие с отделкой и др.);
        li 5. Расчет со сдатчиком ценностей производится согласно утвержденному прейскуранту скупочных цен;
        li 6. Все операции, связанные со скупкой ценностей (определение наименования драгоценных металлов, определение пробы драгоценного металла, взвешивание, надпил изделия и проверка реакции  с использованием азотной кислоты), производится в присутствии сдатчика. Выемка вставок из драгоценных камней производится с датчиком.**
        li 7. Взвешивание лома изделий производится с точностью до 0,01 гр. - золото, 0,1 гр. - серебро;
        li 8. Принятые ценности после их оплаты возврату не подлежат. Скупка и прием лома ювелирных изделий осуществляется в соответствии с «Постановлением Правительства РФ от 7 июня 2001 г. №444 в редакции Постановления Правительства РФ от 08.05.2002 №302». *Если изделие или лом не имеют клейма пробы, продавец проверяет их на принадлежность к 375 пробе (375 темнее). При возникновении подозрений, продавец еще раз удостоверяется, что это золото 375 пробы и принимает его согласно вышеуказанной цены (1200 руб./гр.) **Сдатчик понимает и дает свое согласие на операции, связанные со скупкой ценностей, в том числе, но не ограничиваясь надпил и проверка реакции с использованием химических реагентов.
