extends pug/layout.pug

block var
  - const pageCurrent = pages.pageBuying.href;
  -
    const listGold = [
      {
        label: '375°',
        value: '1560р за 1 гр'
      },
      {
        label: '500°',
        value: '2080р за 1гр'
      },
      {
        label: '583°',
        value: '2430р за 1гр'
      },
      {
        label: '585°',
        value: '2430р за 1гр'
      },
      {
        label: '750°',
        value: '3120р за 1гр'
      },
      {
        label: '900°',
        value: '3740р за 1гр'
      },
      {
        label: '999°',
        value: '3740р за 1гр'
      },
      {
        label: 'Бывшие в употреблении зубные протезы с содержанием золота 750-850 пробы и элементы съемных протезов из сплава ЗлСрПлМ 750-80-90',
        value: '3120р за 1гр'
      },
      {
        label: 'Изделие с клеймом SL принимаются по прейскуранту как 375° ',
        value: '1560р за 1гр'
      },
    ]
  -
    const listSilver = [
      {
        label: '875°',
        value: '32р за 1 гр'
      },
      {
        label: '925°',
        value: '35р за 1гр'
      },
      {
        label: '999°',
        value: '38р за 1гр'
      },
      {
        label: 'Лом ювелирных изделий 375°',
        value: '1200р за 1гр'
      },
      {
        label: 'Лом ювелирных изделий 999°',
        value: '1500р за 1гр'
      },
    ]
  -
    const listAddress = [
      {
        label: 'Раевский, Коммунистическая, 94',
      },
      {
        label: 'Давлеканово, Красная площадь, 12',
      },
      {
        label: 'Куеда, Гагарина,9',
      },
      {
        label: 'Бирск, 8 марта,46',
      },
      {
        label: 'Уфа, ул. Кольцевая, 56',
      },
      {
        label: 'Стерлитамак, Худайбердина, 120',
      },
      {
        label: 'Иглино, Горького, 41',
      },
      {
        label: 'Нефтекамск, Ленина 82а',
      },
      {
        label: 'Салават, Островского, 13/32',
      },
      {
        label: 'Аша, Ленина, 14',
      },
      {
        label: 'Месягутово, Коммунистическая, 44',
      },
      {
        label: 'Уфа, Королева 27',
      },

    ]

block meta
  title= pages.pageBuying.text

block content
  +main
    .container
      h1.main-ident__title Скупка золота и серебра
      .text-content.stack.stack--main-gap
        section.main-ident__group
          p Мы в "Ювелирцентр" всегда готовы приобрести ювелирные изделия у частных лиц или организаций  по выгодным ценам. Это хороший способ продать старые украшения и приобрести новые, более современные. Сами изделия оцениваются на основе их веса, состояния, материала и ценности камней. Прием ювелирных изделий, в том числе лома, осуществляется только у лиц, достигших совершеннолетнего возраста (18 лет), поэтому не забудьте взять с собой паспорт.
        .main-ident__gap-table.grid-tpl-1.grid-tpl-xl-2
          +table-char({
            list: listGold,
            title: 'Золото'
          })
          +table-char({
            list: listSilver,
            title: 'Серебро',
            warnigText: '*При приеме лома применяется коэффициент 0,95 к фактическому весу принимаемого лома, независимо от пробы и вида. Данный коэффициент является средним расчетным показателем, учитывающим наличие посторонних примесей, мелких (не извлекаемых) камней, грязи и т.д.'
          })
        section.main-ident__group
          h2.main-ident__group-title Воспользоваться услугой вы можете в магазинах сети "Ювелирцентр", расположенных по следующим адресам:
          .grid-tpl-xl-2.gap-40
            +table-char({
              list: listAddress,
            })
        section.main-ident__group
          h2.main-ident__group-title Подробные условия по скупке золота и серебра
          ul
            li 1. Приемка лома ювелирных изделий осуществляется у лиц, достигших совершеннолетнего возраста (18 лет), при наличии паспорта.
            li 2. Прием ценностей в скупку осуществляется независимо от наличия на них именников изготовителей  и оттисков государственных пробирных клейм, а памятных и юбилейных (именных) медалей - по предъявлении сдатчиком соответствующих удостоверений на право владения такими медалями.
            li 3. В скупку принимается ювелирный лом и ювелирные изделия из золотых сплавов следующих проб: 375, 500, 583, 585, 750, 900, 999; и столовое серебро 875, 925, 999.
            li 4. Скупке не подлежат:- драгметаллы в самородном и аффинированном вида, а также в сырье, сплавах, полуфабрикатах, промышленных продуктах, химических соединениях и отходах производства и потребления;- полуфабрикаты ювелирного и зубопротезного производства (кроме коронок и дисков);- изделия производственно-технического назначения из золота (пластины, проволока, контакты, лабораторная посуда  и др.) и серебра;- ордена и медали, кроме памятных и юбилейных (именных), содержащие драгоценные металлы; изделия, содержащие драгоценные металлы, изъятые из гражданского оборота или ограниченные  в обороте (холодное, огнестрельное оружие с отделкой и др.);
            li 5. Расчет со сдатчиком ценностей производится согласно утвержденному прейскуранту скупочных цен;
            li 6. Все операции, связанные со скупкой ценностей (определение наименования драгоценных металлов, определение пробы драгоценного металла, взвешивание, надпил изделия и проверка реакции  с использованием азотной кислоты), производится в присутствии сдатчика. Выемка вставок из драгоценных камней производится с датчиком.**
            li 7. Взвешивание лома изделий производится с точностью до 0,01 гр. - золото, 0,1 гр. - серебро;
            li 8. Принятые ценности после их оплаты возврату не подлежат. Скупка и прием лома ювелирных изделий осуществляется в соответствии с «Постановлением Правительства РФ от 7 июня 2001 г. №444 в редакции Постановления Правительства РФ от 08.05.2002 №302». *Если изделие или лом не имеют клейма пробы, продавец проверяет их на принадлежность к 375 пробе (375 темнее). При возникновении подозрений, продавец еще раз удостоверяется, что это золото 375 пробы и принимает его согласно вышеуказанной цены (1200 руб./гр.) **Сдатчик понимает и дает свое согласие на операции, связанные со скупкой ценностей, в том числе, но не ограничиваясь надпил и проверка реакции с использованием химических реагентов.
