extends pug/layout.pug
block var
  - const pageCurrent = pages.pageVacancy.href;
  - const pageMainTitle = pages.pageVacancy.text;
  -
    const formVacancies = [
      formFilelds.name,
      formFilelds.phone,
      formFilelds.year,
      formFilelds.nation,
      formFilelds.city,
      formFilelds.experience,
    ]


block meta
  title= pageMainTitle

block content
  +main-content({
    title: pageMainTitle
  })
    .vacancies
      .vacancies__grid
        .vacancies__content.order-xl-1
          section.vacancies__group
            h2.vacancies__title Обязанности
            ul
              li Консультирование клиентов по ассортименту и коллекциям
              li Помощь в создании индивидуального ювелирного образа с учетом предпочтений покупателя
              li Командная работа на выполнение плановых показателей магазина
              li Поддержание высокого уровня клиентского сервиса
              li Упаковка в соответствии со стандартами компании
              li Работа с кассовым терминалом
          section.vacancies__group
            h2.vacancies__title Условия
            ul
              li Официальное трудоустройство
              li Премия от продаж
              li Фиксированный оклад
              li Бонусы от компании
              li График работы 2/2 рядом с домом
              li Бесплатное обучение и профессиональное развитие
              li Карьерный рост
              li Корпоративные скидки на украшения
        section.vacancies__form-group
          h2.vacancies__title.vacancies__title--form Оставить отклик
          +form.vacancies__form(action="404.html" method="POST" data-form)
            each item in formVacancies
              +field-text({
                title: item.title,
                isTextarea: item.isTextarea,
                attrs: {
                  placeholder: item.attrs.placeholder,
                  required: true,
                  type: item.attrs.type ? item.attrs.type : 'text',
                  minlength: item.attrs.minlength,
                  min: item.attrs.min,
                  pattern: item.attrs.pattern,
                  'data-pristine-required-message': " ",
                  'data-pristine-minlength-message': item.attrs['data-pristine-minlength-message'],
                  'data-pristine-min-message': item.attrs['data-pristine-min-message'],
                  'data-pristine-pattern-message': item.attrs['data-pristine-pattern-message'],
                  "data-number-only": item.attrs['data-number-only']
                }
              }).field-text--std
            +field-checkbox({
              checkboxes: [
                {
                  title: 'Я даю согласие на обработку <a href="page-privacy-policy.html" target="_blank">персональных данных</a>',
                  attrs: {
                    name: 'check',
                    checked: true,
                    required: true,
                  }
                },
              ]
            })
            button.btn.btn--dark.vacancies__btn(disabled, data-form-btn) Откликнуться
