extends pug/layout.pug

block var
  - const pageCurrent = pages.pageAbout.href;
  - const headerClass = 'page-header--xs-mb-none';

block meta
  title= pages.pageAbout.text

block content
  +main
    .container
      .stack.stack--main-gap
        +company-banner.company-banner--xs-m-container
        +statistics-brand
        +about-company({
          title: 'История',
          img: 'img/content/about/pic-1.jpg',
          classReverse: true
        })
          p История Ювелирцентра началась в 1991 году, когда возникла фирма “Лакшми” в честь богини процветания и изобилия. Подготовка к активной деятельности по продаже ювелирных изделий стартовала в начале двухтысячных годов. Первый магазин ЮВЕЛИРЦЕНТР был открыт в 2002 году в Уфе, и сразу завоевал доверие множества покупателей. Название бренда подразумевает центр, концентрирующий в себе всю широту ассортимента ювелирных украшений от вечной классики до авангарда, для покупателей разных вкусовых предпочтений и разного достатка.
        +about-company({
          title: 'Ценности',
          img: 'img/content/about/pic-2.jpg'
        })
          p Компания за долгие годы работы на рынке приобрела позитивный имидж в глазах наших покупателей, деловых партнеров, администраций городов и регионов. Мы гордимся нашей репутацией и никогда не сделаем ничего, что могло бы ей навредить. Нашей сети важно поддерживать традиции и обычаи, поэтому мы часто участвуем в различных национальных выставках и конкурсах, например, в республиках Башкортостан и Татарстан. Кроме того, компания нацелена на семейные ценности и представляет большой выбор подарков для родных и близких.Ювелирцентр обеспечивает широкий ассортимент ювелирных изделий, оптимальное соотношение цены и качества товара независимо от социально-экономических процессов, происходящий в обществе. Мы выпускаем только качественные украшения, а также развиваем новые технологии в производстве и ремонте драгоценностей.
