extends pug/layout.pug

block var
  - const pageCurrent = pages.pagePrivacyPolicy.href;
  - const pageMainTitle = pages.pagePrivacyPolicy.text;
  -
    const listPagePrivacyPolicy = [
      {
        title: "Общие положения",
        tplContent: generalProvisions()
      },
      {
        title: "Персональные данные, которые мы обрабатываем",
        tplContent: personalInformation()
      },
      {
        title: "Цели и сроки обработки данных. Действия, совершаемые с персональными данными",
        tplContent: dataProcessing()
      },
      {
        title: "Cookie-файлы. Аналитические системы",
        tplContent: security(),
      },
      {
        title: "Взаимодействие с нами по вопросам обработки персональных данных",
        tplContent: interaction(),
      },
      {
        title: "Безопасность и конфиденциальность  персональных данных",
        tplContent: security()
      },
      {
        title: "Изменения политики",
        tplContent: policyChanges()
      }
    ]

block meta
  title= pageMainTitle

block content
  +main.main-ident
    .container
      .main-ident__page-info
        h1.main-ident__title= pageMainTitle
        +navigation-changer(listPagePrivacyPolicy).d-none.d-xl-block
        +accordion({
          list: listPagePrivacyPolicy,
          count: true
        }).text-content.stack.gap-40(data-close-inner="")
