extends pug/layout.pug

block var
  - const pageCurrent = pages.pageReturn.href;
  - const pageMainTitle = pages.pageReturn.text;
  -
    const listPageDiamonds = [
      {
        title: "Товары надлежащего качества",
        tplContent: goodsOfProper()
      },
      {
        title: "Товары ненадлежащего качества",
        tplContent: goodsOfInadequate()
      },
      {
        title: "Гарантия",
        tplContent: guarantee()
      },
      {
        title: "Правила возврата в розничном магазине",
        tplContent: retailStoreReturn()
      },
    ]

block meta
  title= pageMainTitle

block content
  +main.main-ident
    .container
      .main-ident__page-info
        h1.main-ident__title= pageMainTitle
        +navigation-changer(listPageDiamonds).d-none.d-xl-block
        +accordion({
          list: listPageDiamonds,
          count: true
        }).text-content.stack.gap-40(data-close-inner="")
