mixin basket-pay
  +fieldset().basket-pay
    h3.basket__title Оплата
    ul.basket-pay__list
      each item, i in listPay
        li.basket-pay__item
          label.basket-pay__label
            input.basket-pay__input(type="radio", name="pay-check" checked= i===0)
            +pay({
              img: item.img,
              text: item.text,
              title: item.title,
            }).basket-pay__radio
