mixin basket-pay
  +fieldset().basket-pay
    h3.basket__title Оплата
    ul.basket-pay__list
      each item, i in listPay
        li.basket-pay__item
          +block-radio({
            idxChecked: i,
            name: "pay-check"
          })
            +pay({
              img: item.img,
              text: item.text,
              title: item.title,
            }).block-radio__toggle

