// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter: hsl(0, 0%, 80%) !default;
$gray-lightest: hsl(0, 0%, 90%) !default;
$text-color: $tp-black;
$line-height: 1.5 !default;

$field-padding-vertical: 16px;
$field-padding-horizontal: 32px;

$border-radius: 10px;

.btn {

  $block-name: &; // #{$block-name}__element
  @include ProximaNovaTextRegular18();
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 8px 24px;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  border-radius: $border-radius;
  border: 1px solid $gray-lighter;
  //background-color: $gray-lightest;
  background-image: none;
  cursor: pointer;

  @media(min-width: $screen-lg) {
    @include ProximaNovaTextRegular24();
    padding: $field-padding-vertical $field-padding-horizontal;
  }

  //&:hover,
  //&:focus {
  //  text-decoration: none;
  //  color: $text-color;
  //  background-color: darken($gray-lightest, 10%);
  //  border-color: darken($gray-lighter, 12%);
  //}


  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;

    &--right {
      margin-right: 20px;
    }

    &--left {
      margin-left: 20px;
    }
  }

  &--dark {
    color: $tp-white;

    background-color: $bg-black;
    border-color: $bg-black;

    &:hover,
    &:focus {
      background-color: lighten($bg-black, 10%);
      border-color: lighten($bg-black, 10%);
    }
  }

  &--success {
    color: $tp-white;
    background-color: $other-green;
    border-color: $other-green;

    &:hover,
    &:focus {
      background-color: lighten($other-green, 10%);
      border-color: lighten($other-green, 10%);
    }
  }

  &--gray {
    color: $tp-white;
    background-color: $bg-gray-2;
    border-color: $bg-gray-2;

    &:hover,
    &:focus {
      background-color: lighten($bg-gray-2, 10%);
      border-color: lighten($bg-gray-2, 10%);
    }
  }

  &--pink {
    color: $tp-white;
    background-color: $primary-pink-1;
    border-color: $primary-pink-1;

    &:hover,
    &:focus {
      background-color: darken($primary-pink-1, 10%);
      border-color: darken($primary-pink-1, 10%);
    }
  }


  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
