.basket-bonus__title {
  @include ProximaNovaTextBold19;
  margin-bottom: 30px;

  @media (min-width: $screen-lg) {
    @include MontserratBold34;
    margin-bottom: 40px;
  }

  @media (min-width: $screen-xl) {
    @include ProximaNovaTextRegular40;
    margin-bottom: 30px;
    font-weight: 700;
  }
}

.basket-bonus__alert {
  margin-bottom: 16px;
  @media (min-width: $screen-lg) {
    margin-bottom: 31px;
  }
  @media (min-width: $screen-xl) {
    margin-bottom: 44px;
  }
}

.basket-bonus__list {
  @include ul-reset;
  @include ProximaNovaTextRegular16();
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 590px;
  width: 100%;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular26();
    gap: 28px;
  }
}

.basket-bonus__item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

.basket-bonus__not-auth-desc {
  @include ProximaNovaTextRegular16;

  @media (min-width: $screen-lg) {
    @include ProximaNovaTextRegular32;
  }

  p {
    margin: 0;
  }

  .line-link {
    @include ProximaNovaTextRegular16;

    @media (min-width: $screen-lg) {
      @include ProximaNovaTextRegular32;
    }
  }
}
