mixin basket-bonus()
  section.basket-bonus
    h1.basket-bonus__title Бонусные баллы (ББ)
    .basket-bonus__not-auth-desc
      p #[a(class="line-link" href="#") Авторизуйтесь] или #[a(class="line-link" href="#") зарегистрируйтесь], чтобы применить бонусные баллы.
