.page-lk {
  padding-bottom: 116px;

  @media (min-width: $screen-lg) {
    padding-bottom: 100px;
  }

  @media (min-width: $screen-xl) {
    padding-bottom: 200px;
  }
}

.page-lk--xs-main-center {
  @media (max-width: $screen-lg - 1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page-lk__grid {
  position: relative;
  display: grid;
  align-items: flex-start;

  @media (min-width: $screen-lg) {
    gap: 10px;
    grid-template-columns: 346px 1fr;
  }

  @media (min-width: $screen-xl) {
    gap: 40px;
  }
}

.page-lk__personal-data {
  @media (max-width: $screen-xl - 1) {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }
}

.page-lk__content {
  height: 100%;
}
